<!-- begin form -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__tiltle is-left">
          <h2 class="title">Залиште ваші контакти</h2>
          <div class="text">Введіть ваші контактні дані та наші спеціалісти св’яжуться з вами у найближчий час</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <!-- begin input -->
        <div class="input">
          <input type="text" placeholder="Введіть ПІБ">
        </div>
        <!-- end input -->
      </div>
      <div class="col-lg-1"></div>

      <div class="col-lg-3">
        <!-- begin input -->
        <div class="input">
          <input type="tel" placeholder="Введіть телефон">
        </div>
        <!-- end input -->
      </div>
      <div class="col-lg-1"></div>

      <div class="col-lg-3">
        <!-- begin input -->
        <div class="input">
          <input type="email" placeholder="Введіть E-mail">
        </div>
        <!-- end input -->
      </div>
      <div class="col-lg-1"></div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form__btn">
          <button class="btn btn--ttn">
            <span class="btn__title">Залишити заявку</span>
            <span class="btn__icon is-arrow"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end form -->