<!-- begin slider -->
<div class="slider__wrap slider--full__wrap">
  <div class="slider slider--full js-slider" data-slider="full">
    {% for i in range(0, 2) %}
    <div class="slide">
      <div class="slide__inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <div class="hero__block">
                <div class="hero__title">
                  <h2 class="title title--white">Перетвори свій день<br> на пригоду </h2>
                </div>
                <div class="hero__subttl">Tesla Model x</div>
                <div class="hero__btn">
                  <a href="#" class="btn">
                    <span class="btn__title">замовити TEST-DRIVE</span>
                    <span class="btn__icon">{{ mixins.iconCar() }}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>          
        </div>

        <div class="slide__bg">
          <video class="js-lazy" src="" data-src="video/FIND-OUT-TESLA_720.mp4" muted="" autoplay="" loop="" poster="img/hero-video-poster.jpg"></video>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="slide">
      <div class="slide__inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <div class="hero__block">
                <div class="hero__title">
                  <h2 class="title title--white">Перший мультибрендовий салон електромобілів в Україні </h2>
                </div>
                <div class="hero__subttl">Tesla Model x</div>
                <div class="hero__btn">
                  <a href="#" class="btn">
                    <span class="btn__title">замовити TEST-DRIVE</span>
                    <span class="btn__icon">{{ mixins.iconCar() }}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>          
        </div>

        <div class="slide__bg">
          <video class="js-lazy" src="" data-src="video/slider2.mp4" muted="" autoplay="" loop="" poster="img/hero-video-poster.jpg"></video>
        </div>
      </div>
    </div>
  </div>

  <div class="slider__dots js-dots"></div>
  <div class="slider__arrows slider--full__arrows">
    <div class="container">
      <div class="row col-lg-12">
        <button class="slider__prev js-prev"></button>
        <button class="slider__next js-next"></button>
      </div>
    </div>
  </div>
</div>
<!-- end slider -->