+font('helveticaneuecyr-bold', 'helveticaneuecyr-bold-webfont')
+font('helveticaneuecyr-roman', 'helveticaneuecyr-roman-webfont')
+font('helveticaneuecyr-light', 'helveticaneuecyr-light-webfont')
+font('helveticaneuecyr-medium', 'helveticaneuecyr-medium-webfont')
+font('helveticaneuecyr-thin', 'helveticaneuecyr-thin-webfont')

=roman
  font-family: 'helveticaneuecyr-roman', Arial, sans-serif
=bold
  font-family: 'helveticaneuecyr-bold', Arial, sans-serif
=medium
  font-family: 'helveticaneuecyr-medium', Arial, sans-serif
=light
  font-family: 'helveticaneuecyr-light', Arial, sans-serif
=thin
  font-family: 'helveticaneuecyr-thin', Arial, sans-serif

=xl
  +r(1440)
    @content
=lg
  +r(1199)
    @content
=md
  +r(991)
    @content
=sm
  +r(767)
    @content
=xs
  +r(575)
    @content

=mdmin
  +rmin(992)
    @content

h1, h2, h3, h4, h5, h6
  font-weight: 400

strong
  font-weight: 400

html
  // overflow: visible
  // position: static
  +no-scroll
    
body
  background: #fff
  line-height: 1.4
  font-size: 15px
  overflow: visible
  position: static
  +roman
  color: $c-text
  +no-scroll

// .js-lazy
//   &[data-loaded="true"]
//     animation: fadeIn 3s

// @keyframes fadeIn 
//   from 
//     opacity: 0

//   to 
//     opacity: 1

.ic
  display: inline-block

.ic-map-green
  +sprite(map-green)

.ic-map-orange
  +sprite(map-orange)

.margin-bottom-5
  margin-bottom: 5px


.out
  padding-top: 90px
  overflow-x: hidden
  +lg
    padding-top: 45px
  +xs
    padding-bottom: 50px

.btn
  color: #fff
  text-transform: uppercase
  background-color: transparent
  display: inline-block
  text-align: center
  +light
  text-align: center
  font-size: 0
  height: 50px
  +hover
    .btn__title
      background-color: #282822
  &.is-active
    .btn
      &__icon
        &.is-arrow
          &::before
            transform: translate(0, 0) rotate(135deg)
            top: 20px
  
  &__title
    font-size: 14px
    display: inline-block
    vertical-align: top
    height: 100%
    background-color: $c-accent
    padding: 17px 10px
    text-align: center
    min-width: 180px
    transition: color .3s, background-color .3s
    .icon
      display: inline-block
      vertical-align: sub
      font-size: 16px
      margin-left: 5px
      transition: fill .3s
  &__icon
    display: inline-block
    background-color: #2c2c2c
    height: 100%
    display: inline-flex
    justify-content: center
    align-items: center
    background-color: #2c2c2c
    width: 50px
    .icon
      font-size: 16px
      fill: #fff
    .icon-hatchback
      font-size: 30px
      position: relative
      top: 9px
    &.is-arrow
      position: relative
      &::before
        content: ''
        display: inline-block
        +icon-arrow(12, 12, 2, #fff, 225)
        position: absolute
        top: 50%
        transform: translate(-3px, -50%) rotate(225deg)
        transition: transform .3s
    &.is-arrow-down
      &::before
        transform: translate(0, 0) rotate(-45deg)
        left: 18px
        top: 14px
  &--lg
    .btn__title
      min-width: 220px
  &--sm
    .btn__title
      min-width: 145px

  &--gray
    .btn__title
      background-color: #f7f7f7
      color: $c-text
    +hover
      .btn__title
        background-color: $c-accent
        color: #fff
        .icon
          fill: #fff
  &--white
    .btn__title
      background-color: #fff
      color: $c-text
    +hover
      .btn__title
        background-color: $c-accent
        color: #fff
        .icon
          fill: #fff
  &--ttn
    text-transform: none
    height: 45px
    .btn__title
      padding-top: 14px
      padding-bottom: 14px
      font-size: 15px
      line-height: 1.1
  &--full
    width: 100%
    max-width: none
    overflow: hidden
    .btn__title
      width: 100%
  &--full-both
    height: 100%
    width: 100%
    max-width: none
    .btn__title
      width: 100%
      padding: 23px 10px
  &--full-width
    width: 100%
    +xs
      height: auto
    .btn__title
      max-width: none
      width: calc(100% - 50px)
      +xs
        width: 100%
    .btn__icon
       +xs
          display: none
  &--full-height
    height: 100%
  &--icon-full
    width: 100%
    .btn__title
      width: calc(100% - 50px)
  &--hauto
    height: auto
    .btn__title
      padding-top: 13px
      padding-bottom: 13px
    .btn__icon
      height: 45px

.link
  font-size: 15px
  color: #fff
  display: inline-flex
  align-items: center
  // padding-right: 100px
  position: relative
  transition: color .3s
  +hover
    .link__arrow
      width: 100px
  &__title
    text-decoration: underline
    transition: color .3s
    margin-right: 25px 
  &__arrow
    position: relative
    width: 85px
    right: 0
    top: 50%
    transform: translate(0, -50%)
    display: inline-block
    transition: transform .3s, width .3s
    &::before
      width: 100%
      content: ''
      position: absolute
      height: 1px
      background-color: #fff
      top: 50%
      right: -1px
      transform: translate(0, -50%)
      transition: width .3s
    &::after
      display: inline-block
      position: absolute
      +icon-arrow(8, 8, 1, #fff, 225)
      content: ''
      top: 50%
      transform: translate(0, -50%) rotate(225deg)
      right: 0
  &--green
    color: $c-accent
    .link__arrow
      &::before
        background-color: $c-text
      &::after
        border-color: $c-text
    &::before
      background-color: $c-text
    &::after
      +icon-arrow(8, 8, 1, $c-text, 225)
  &--sm
    // padding-right: 45px
    +hover
      .link__arrow
        width: 50px
    .link__title
      margin-right: 12px
    .link__arrow
      width: 30px
      &::before
        width: 100%
        background-color: $c-text
      &::after
        border-color: $c-text
  &--simple
    color: $c-text
    +hover
      .link__title
        color: $c-accent
    .link__title
      text-decoration: none
    .link__arrow
      &::before
        background-color: $c-text
      &::after
        border-color: $c-text

.phone
  display: inline-flex
  align-items: center
  &__phone
    +bold
    font-size: 32px
    color: #202020
    line-height: 1.15
    a
      transition: color .3s
    +hover
      a
        color: $c-accent
  &__icon
    width: 44px
    height: 38px
    background-color: $c-accent
    margin-right: 10px
    display: flex
    align-items: center
    justify-content: center
    .icon
      fill: #fff
      font-size: 16px
      stroke: #fff

.map-link
  display: flex
  align-items: center
  &__icon
    display: block
    font-size: 0
    margin-right: 10px
    margin-top: 2px
    +xs
      display: none
    .icon
      font-size: 18px
      fill: #b6b6b6
  &__title
    color: #b6b6b6
    font-size: 14px
    display: block
    +light
    br
      display: none
      +xs
        display: block

.side-btns
  position: fixed
  top: 50%
  transform: translate(0, -50%)
  right: 0
  z-index: 10
  +xs
    bottom: 0
    top: auto
    transform: translate(0, 0)
    width: 100%
    display: flex

.side-btn
  display: flex
  align-items: center
  justify-content: center
  background-color: $c-accent
  width: 50px
  height: 45px
  position: relative
  overflow: hidden
  transition: background-color .3s
  +hover
    overflow: visible
    .side-btn__title
      transform: translate(-100%, 0)
  +xs
    width: 50%
    height: 50px
    +hover
        background-color: #282822
    &:not(:last-child)
      margin-bottom: 0
    &:first-child
      background-color: #f7f7f7
      +hover
        .icon
          fill: #fff
      .icon
        fill: $c-text      
      
  .icon
    fill: #fff
    font-size: 23px
    transition: fill .3s
  &:not(:last-child)
    margin-bottom: 10px
  &__title
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    position: absolute
    top: 0
    left: 0
    transform: translate(100%, 0)
    background-color: #2c2c2c
    color: #fff
    +light
    font-size: 14px
    text-transform: uppercase
    white-space: nowrap
    min-width: 180px
    transition: transform .3s
    z-index: -1
    +xs
      display: none

.items-page
  padding-bottom: 30px

.price
  &__title
    font-size: 30px
    +bold
    color: $c-accent
  &__subttl
    color: #a7a7a7
    font-size: 13px
