---
title: Страница автомобиля
page: main
hero: {
  xs: true
}
consultation: {
  reverse: true
}
carModel: {
  status: 'is-intransit',
  label: 'В дорозі',
  labelIcon: 'truck',
  btn: {
    title: 'Повідомити про наявність'
  }
}
animations: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_header.html" %}
  {% include "partials/_hero.html" %}
  {% include "partials/_model-gallery.html" %}
  {% include "partials/_model-tabs.html" %}
  {% include "partials/_consultation.html" %}
  {% include "partials/_model-descr.html" %}
  {% include "partials/_reccomend.html" %}
  {% include "partials/_brand-nav.html" %}
  {% include "partials/_footer.html" %}
{% endblock %}
