---
title: Главная
page: main
hero: {
  slider: true
}
animations: true
newItems: {
  title: 'нові надходження',
  link: 'Всі моделі в наявності',
  slider: [
    {
      title: '2017 BMW I3 Mega World 33KWh 2017 BMW I3 Mega World 33KWh',
      list: [
        { title: 'Вартість:', text: '30,900$' },
        { title: 'Пробіг:', text: '30300 км' },
        { title: 'Рік:', text: '2017' }
      ],
      img: 'item-5.jpg'
    },
    {
      title: '2017 BMW I3 Mega World 33KWh',
      list: [
        { title: 'Вартість:', text: '30,900$' },
        { title: 'Пробіг:', text: '30300 км' },
        { title: 'Рік:', text: '2017' }
      ],
      img: 'item-5.jpg'
    },
    {
      title: '2017 BMW I3 Mega World 33KWh',
      list: [
        { title: 'Вартість:', text: '30,900$' },
        { title: 'Пробіг:', text: '30300 км' },
        { title: 'Рік:', text: '2017' }
      ],
      img: 'item-5.jpg'
    },
    {
      title: '2017 BMW I3 Mega World 33KWh',
      list: [
        { title: 'Вартість:', text: '30,900$' },
        { title: 'Пробіг:', text: '30300 км' },
        { title: 'Рік:', text: '2017' }
      ],
      img: 'item-5.jpg'
    },
    {
      title: '2017 BMW I3 Mega World 33KWh',
      list: [
        { title: 'Вартість:', text: '30,900$' },
        { title: 'Пробіг:', text: '30300 км' },
        { title: 'Рік:', text: '2017' }
      ],
      img: 'item-5.jpg'
    }
  ]
}
popupRating: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_header.html" %}
  {% include "partials/_hero.html" %}
  {% include "partials/_models.html" %}

  {% set newItemsSlider = newItems.slider %}
  {% include "partials/_new-items.html" %}

  {% include "partials/_partners.html" %}
  {% include "partials/_banner-section.html" %}
  {% include "partials/_consultation.html" %}
  {% include "partials/_two-banners.html" %}
  {% include "partials/_assort.html" %}
  {% include "partials/_brand-nav.html" %}
  {% include "partials/_footer.html" %}
{% endblock %}
