---
title: service
page: service
hero: {
  sm: true,
  title: 'Сервіс електромобілей',
  subttl: 'Електромобілі в Києві в наявності і під замовлення з США: з гарантією та обслуговуванням',
  btn: {
    title: 'Записатись на сервіс',
    icon: 'repair-service'
  },
  breadcrumbs: [
    { title: 'Головна'},
    { title: ' Сервіс електромобілей', active: true }
  ],
  bgimage: 'img/hero/hero-service.jpg'
}
services: [
  {
    title: 'Ремонт ходовой',
    dataItem: 'service1',
    contentList: [
      {
        title: 'Диагностика выхлопной системы',
        dataItem: 'sub_service1',
        contentList: [
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' }
        ]
      },
      {
        title: 'Замена гофры глушителя',
        dataItem: 'sub_service2',
        contentList: [
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' }
        ]
      },
      {
        title: 'Замена катализатора',
        dataItem: 'sub_service3',
        contentList: [
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' }
        ]
      },
      {
        title: 'Замена приемной трубы',
        dataItem: 'sub_service4',
        contentList: [
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' }
        ]
      },
      {
        title: 'Замена глушителя (резонатора)',
        dataItem: 'sub_service5',
        contentList: [
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' }
        ]
      },
      {
        title: 'Ремонт коллектора',
        dataItem: 'sub_service6',
        contentList: [
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' }
        ]
      },
      {
        title: 'Замена хомута',
        dataItem: 'sub_service7',
        contentList: [
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' }
        ]
      },
      {
        title: 'Установка пламегасителя ',
        dataItem: 'sub_service8',
        contentList: [
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' }
        ]
      },
      {
        title: 'Установка насадки',
        dataItem: 'sub_service9',
        contentList: [
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' },
          { title: 'Диагностика выхлопной системы' }
        ]
      }
    ]
  },
  {
    title: 'Ремонт ходовой Ремонт ходовой Ремонт ходовой',
    dataItem: 'service2',
    contentList: [
      { title: 'Диагностика выхлопной системы' },
      { title: 'Замена гофры глушителя' },
      { title: 'Замена катализатора' },
      { title: 'Замена приемной трубы' },
      { title: 'Замена глушителя (резонатора)' },
      { title: 'Ремонт коллектора' },
      { title: 'Замена хомута' },
      { title: 'Установка пламегасителя ' },
      { title: 'Установка насадки' }
    ]
  },
  {
    title: 'Ремонт ходовой',
    dataItem: 'service3',
    contentList: [
      { title: 'Диагностика выхлопной системы' },
      { title: 'Замена гофры глушителя' },
      { title: 'Замена катализатора' },
      { title: 'Замена приемной трубы' },
      { title: 'Замена глушителя (резонатора)' },
      { title: 'Ремонт коллектора' },
      { title: 'Замена хомута' },
      { title: 'Установка пламегасителя ' },
      { title: 'Установка насадки' }
    ]
  },
  {
    title: 'Ремонт ходовой',
    dataItem: 'service4',
    contentList: [
      { title: 'Диагностика выхлопной системы' },
      { title: 'Замена гофры глушителя' },
      { title: 'Замена катализатора' },
      { title: 'Замена приемной трубы' },
      { title: 'Замена глушителя (резонатора)' },
      { title: 'Ремонт коллектора' },
      { title: 'Замена хомута' },
      { title: 'Установка пламегасителя ' },
      { title: 'Установка насадки' }
    ]
  }
]
features: {
  features: [
    {
      icon: 'money',
      title: 'вигідно',
      text: 'Дострокове погашення автокредиту, без комісій'
    },
    {
      icon: 'file',
      title: 'легко',
      text: 'Мінімальний набір документів для клієнтів «Olmaks Group»'
    },
    {
      icon: 'payment-terminal',
      title: 'зручно',
      text: 'Погашення кредиту зручними способами - через термінал, Приват24, додаток Privat24 або касу'
    },
    {
      icon: 'car-insurance',
      title: 'спокійно',
      text: 'Безкоштовний моніторинг за власним автомобілем'
    }
  ]  
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_header.html" %}
  {% include "partials/_hero.html" %}

  {% include "partials/_scedule.html" %}
  {% include "partials/_services.html" %}
  {% include "partials/_features.html" %}

  {% include "partials/_brand-nav.html" %}
  {% include "partials/_footer.html" %}
{% endblock %}