---
title: service
page: service
hero: {
  sm: true,
  title: 'Сервіс електромобілей',
  subttl: 'Електромобілі в Києві в наявності і під замовлення з США: з гарантією та обслуговуванням',
  btn: {
    title: 'Записатись на сервіс',
    icon: 'repair-service'
  },
  breadcrumbs: [
    { title: 'Головна'},
    { title: ' Сервіс електромобілей', active: true }
  ],
  bgimage: 'img/hero/hero-service.jpg'
}
services: [
  {
    title: 'Ремонт ходовой',
    dataItem: 'service1',
    contentList: [
      { title: 'Диагностика выхлопной системы' },
      { title: 'Замена гофры глушителя' },
      { title: 'Замена катализатора' },
      { title: 'Замена приемной трубы' },
      { title: 'Замена глушителя (резонатора)' },
      { title: 'Ремонт коллектора' },
      { title: 'Замена хомута' },
      { title: 'Установка пламегасителя ' },
      { title: 'Установка насадки' }
    ]
  },
  {
    title: 'Ремонт ходовой Ремонт ходовой Ремонт ходовой',
    dataItem: 'service2',
    contentList: [
      { title: 'Диагностика выхлопной системы' },
      { title: 'Замена гофры глушителя' },
      { title: 'Замена катализатора' },
      { title: 'Замена приемной трубы' },
      { title: 'Замена глушителя (резонатора)' },
      { title: 'Ремонт коллектора' },
      { title: 'Замена хомута' },
      { title: 'Установка пламегасителя ' },
      { title: 'Установка насадки' }
    ]
  },
  {
    title: 'Ремонт ходовой',
    dataItem: 'service3',
    contentList: [
      { title: 'Диагностика выхлопной системы' },
      { title: 'Замена гофры глушителя' },
      { title: 'Замена катализатора' },
      { title: 'Замена приемной трубы' },
      { title: 'Замена глушителя (резонатора)' },
      { title: 'Ремонт коллектора' },
      { title: 'Замена хомута' },
      { title: 'Установка пламегасителя ' },
      { title: 'Установка насадки' }
    ]
  },
  {
    title: 'Ремонт ходовой',
    dataItem: 'service4',
    contentList: [
      { title: 'Диагностика выхлопной системы' },
      { title: 'Замена гофры глушителя' },
      { title: 'Замена катализатора' },
      { title: 'Замена приемной трубы' },
      { title: 'Замена глушителя (резонатора)' },
      { title: 'Ремонт коллектора' },
      { title: 'Замена хомута' },
      { title: 'Установка пламегасителя ' },
      { title: 'Установка насадки' }
    ]
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_header.html" %}
  {% include "partials/_hero.html" %}

  {% include "partials/_scedule.html" %}
  {% include "partials/_services.html" %}
  {% include "partials/_banks-features.html" %}

  {% include "partials/_brand-nav.html" %}
  {% include "partials/_footer.html" %}
{% endblock %}