<!-- begin section -->
<section class="section section--xl section--gray">
  <div class="container">
    <!-- begin error-page -->
    <div class="error-page">
      <div class="row">
        <div class="col-md-6">
          <div class="error-page__content">
            <div class="error-page__title-lg">ой!</div>

            <div class="error-page__title">
              <h2 class="h2">Схоже, ми не можемо знайти сторінку, яку ви шукали</h2>
            </div>

            <div class="error-page__list">
              <!-- begin error-page-list -->
              <div class="error-page-list">
                <div class="error-page-list__title text text--gray">Ось декілька корисних посилань для вас:</div>

                <ul class="error-page-list__list">
                  <li class="error-page-list__item"><a href="#" class="error-page-list__link">Електромобілі в наявності</a></li>
                  <li class="error-page-list__item"><a href="#" class="error-page-list__link">Моделі</a></li>
                  <li class="error-page-list__item"><a href="#" class="error-page-list__link">Блог</a></li>
                  <li class="error-page-list__item"><a href="#" class="error-page-list__link">Контакти</a></li>
                </ul>
              </div>
              <!-- end error-page-list -->
            </div>

            <div class="error-page__btns">
              <div class="error-page__btn">
                <a href="#" class="btn btn--ttn">
                  <span class="btn__title">Замовити консультацію</span>
                  <span class="btn__icon is-arrow"></span>
                </a>
              </div>

              <div class="error-page__btn">
                <a href="#" class="btn btn--ttn">
                  <span class="btn__title">Замовити TEST-DRIVE</span>
                  <span class="btn__icon">{{ mixins.iconCar() }}</span>
                </a>
              </div>
              
            </div>

          </div>
        </div>

        <div class="col-md-6">
          <div class="error-page__img">
            <div class="error-page__img-in">
              <img class="js-lazy" data-src="img/404.png" alt="">
              <div class="error-page__404">404</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end error-page -->
    
  </div>
</section>
<!-- end section -->