<!-- begin section -->
<section class="">
  <!-- begin full-grid -->  
  <div class="full-grid">
    <div class="full-grid__inner">
      <div class="full-grid__block full-grid-block js-lazy" data-background-image="./img/service-2/blocks/YU_R3710.jpg">
        <div class="full-grid-block__content">
          <h2 class="full-grid-block__title h2 title-underlined">Ми повністю перевіряємо батарею</h2>

          <div class="full-grid-block__text text text--gray">
            <p>За інформацією блога професора Мартена Стейнбуха, моделі Tesla Model S і Model X при пробігу 240000 км здатні зберегти свою енергоємність на 92%. Для порівняння, вважається, що двигун внутрішнього згоряння приблизно до 220000 км максимально зношується.</p>
            <p>Зібрана в дослідженні інформація відповідає недавнім новин про фінському таксиста, який проїхав на Tesla Model S вже 400000 км. Ємність акумулятора його машини знизилася тільки на 7%.</p>
          </div>
        </div>
      </div>

      <div class="full-grid__block full-grid-block js-lazy" data-background-image="./img/service-2/blocks/YU_R3694.jpg"></div>

      <div class="full-grid__block full-grid-block full-grid-block--full full-grid__block--full js-lazy" data-background-image="./img/service-2/blocks/YU_R3742.jpg">
        <div class="full-grid-block__content">
          <h2 class="full-grid-block__title h2 title-underlined">Про наш сервіс</h2>

          <div class="full-grid-block__text text text--gray">Внутрішній простір салону оформлено напівпрозорими елементами, через що здається ще більш просторим. В сторону «екологічності» можна записати ще й такий факт, що при виготовленні авто використовуються поновлювані матеріали. Приладова і дверна панель зроблені з натуральної сировини, а шкіряний інтер'єр природного кольору генерує приємну лаунж-атмосферу. Матеріали відмінно контрастують з обтікають формами компонентів двері і приладової панелі</div>
        </div>
      </div>
    </div>
  </div>
  <!-- end full-grid -->
</section>
<!-- end section -->