<!-- begin section -->
<section class="">
  <div class="two-cols">
    <div class="two-cols__container">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <!-- begin text-block -->
            <div class="text-block">
              <h2 class="text-block__title h2 title-underlined">Чому нам варто довіряти?</h2>

              <div class="text-block__text text text--gray">Але не одним лише фірмовим електромотором і новаторською конструкцією LifeDrive може похвалитися «Еко-трійка». Конструкція авто містить відмінну систему відшкодування енергії під час руху, в основі якої лежить режим рекуперації генератора - в результаті енергозапас авто зростає і розширюється перелік режимів і функцій.
Конструкція авто містить відмінну систему відшкодування енергії під час руху, в основі якої лежить режим рекуперації генератора - в результаті енергозапас авто зростає і розширюється перелік режимів і функцій.</div>

              <div class="text-block__btn">
                <a href="#" class="btn btn--ttn">
                  <span class="btn__title">Записатись на сервіс</span>
                  <span class="btn__icon">{{ mixins.icon('repair-service') }}</span>
                </a>
              </div>
            </div>
            <!-- end text-block -->
          </div>
        </div>
      </div>
    </div>

    <div class="two-cols__side js-lazy" data-background-image="./img/service-2/blocks/YU_R3808.jpg"></div>
  </div>


  <!-- begin full-grid -->
  <div class="full-grid">
    <div class="full-grid__inner">
      <div class="full-grid__block full-grid-block js-lazy" data-background-image="./img/service-2/blocks/YU_R3911.jpg">
        <div class="full-grid-block__content">
          <h2 class="full-grid-block__title h2 title-underlined">Які гарантії ми надаємо?</h2>

          <div class="full-grid-block__text text text--gray">
            <p>Досить хороша новина також в тому, що інженери BMW оснастили i3 з бортовою зарядної системою, яка може утримувати напругу потужністю 7,7 кВт. Цей високоякісний рівень Level 2 важко поставити в машину через домашнє напруга, але навіть якщо воно буде в районі 6,6 кВт, це буде означати, що при одночасовой зарядці буде додаватися близько 32-40 кілометрів їзди.</p>
            <p>Комбінований кабель з роз'ємом SAE уможливлює підключити i3 і до 50-ти кіловатної зарядної станції, яка здатна зарядити авто до 80% всього лише за 20-30 хвилин.</p>
          </div>
        </div>
      </div>

      <div class="full-grid__block full-grid-block js-lazy" data-background-image="./img/service-2/blocks/YU_R3817.jpg"></div>
    </div>
  </div>
  <!-- end full-grid -->
</section>
<!-- end section -->