{%set
  selects = [
  {
    options: [
    { value: 'placeholder', option: 'Всі марки' },
    { option: 'bmw' },
    { option: 'tesla' },
    { option: 'bmw' },
    { option: 'tesla' },
    { option: 'bmw' },
    { option: 'tesla' },
    { option: 'bmw' },
    { option: 'tesla' },
    { option: 'bmw' },
    { option: 'tesla' },
    { option: 'bmw' },
    { option: 'tesla' },
    { option: 'bmw' },
    { option: 'tesla' }
    ]
  },
  {
    options: [
    { value: 'placeholder', option: 'Будь-який рік' },
    { option: '2019' },
    { option: '2019' },
    { option: '2019' }
    ]
  },
  {
    options: [
    { value: 'placeholder', option: 'Всі моделі' },
    { option: 'моделі' },
    { option: 'моделі' },
    { option: 'моделі' }
    ]
  },
  {
    options: [
    { value: 'placeholder', option: 'Всі типи кузова' },
    { option: 'кузова' },
    { option: 'кузова' },
    { option: 'кузова' }
    ]
  },
  {
    options: [
    { value: 'placeholder', option: 'Будь-який пробіг' },
    { option: 'пробіг' },
    { option: 'пробіг' },
    { option: 'пробіг' }
    ]
  },
  {
    options: [
    { value: 'placeholder', option: 'Будь-яка трансмісія' },
    { option: 'трансмісія' },
    { option: 'трансмісія' },
    { option: 'трансмісія' }
    ]
  },
  {
    options: [
    { value: 'placeholder', option: 'Будь-який стан' },
    { option: 'стан' },
    { option: 'стан' },
    { option: 'стан' }
    ]
  },
  {
    options: [
    { value: 'placeholder', option: 'Будь-який статус' },
    { option: 'статус' },
    { option: 'статус' },
    { option: 'статус' }
    ]
  },
  {
    color: true,
    options: [
    { value: 'placeholder', option: 'Будь-який колір' },
    { option: 'колір', color: '#10ad44' },
    { option: 'колір', color: '#0073d5' },
    { option: 'колір', color: '#f00' }
    ]
  }
  ]
  %}

  <div class="aside-show-btn">
    <a href="#" class="btn btn--ttn btn--icon-full js-aside-toggle">
      <span class="btn__title">Підбір електромобіля</span>
      <span class="btn__icon is-arrow is-arrow-down"></span>
    </a>
  </div>

  <!-- begin aside -->
  <aside class="aside js-aside">
    <div class="row">
      <div class="col-lg-12 col-md-6">
        <div class="aside__block">
          <!-- begin car-search -->
          <div class="car-search">
            <div class="car-search__title">
              <h3 class="h3 h3--green">Пошук електромобіля</h3>
            </div>

            <form action="">
              <div class="car-search__slider">
                <!-- begin range-slider -->
                <div class="range-slider">
                  <div class="range-slider__title">
                    <span class="range-slider__title-fixed">Ціна:</span>
                    $<span class="js-range-slider-min"></span> - $<span type="text" class="js-range-slider-max"></span>
                  </div>
                  <div class="range-slider__slider js-range-slider" data-min="0" data-max="30000"></div>
                </div>
                <!-- end range-slider -->
              </div>

              <div class="car-search__selects">
                <!-- begin selects -->
                <div class="selects">
                  {% for i in selects %}
                  <div class="selects__select">
                    <div class="select select--multiple">
                      <select multiple="" class="js-select has-placeholder" {% if i.color %}data-type="multiple_color"{% else%}data-type="multiple"{% endif %}>
                        {% for j in i.options %}
                        <option value="{% if j.value %}{{ j.value }}{% else %}{{ j.option }}{% endif %}" {% if j.selected %}selected=""{% endif %} {% if j.color %}data-color="{{ j.color }}"{% endif %}>{{ j.option }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  {% endfor %}

                  <div class="selects__btn">
                    <button class="btn btn--ttn btn--full"><span class="btn__title">Скинути параметри</span></button>
                  </div>
                </div>
                <!-- end selects -->
              </div>
            </form>
          </div>
          <!-- end car-search -->
        </div>
      </div>

      <div class="col-lg-12 col-md-6 js-sticky-column">
        <!-- begin aside-banner -->
        <div class="aside-banner js-lazy " data-background-image="img/aside-banner.jpg">
          <div class="aside-banner__block">
            <div class="aside-banner__title"><h4 class="h4 h4--white">Бірко<br> костянтин</h4></div>
            <div class="aside-banner__subttl text text--white">Менеджер з продажів</div>
            <div class="aside-banner__contact">+38-068-776-7700</div>
            <div class="aside-banner__contact">+38-063-129-0703</div>
            <div class="aside-banner__btn">
              <a href="#" class="btn btn--ttn btn--full">
                <span class="btn__title">Замовити консультацію</span>
              </a>
            </div>
          </div>
        </div>
        <!-- end aside-banner -->
      </div>

    </div>
  </aside>
<!-- end aside -->