<!-- begin section -->
<section class="section section--bg js-lazy" data-background-image="img/bg-assort-block.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="section__block">
          <div class="section__title has-line is-left">
            <h1 class="title">Асортимент моделей електромобілів у нашому автосалоні: (H1)</h1>
          </div>

          <div class="section__links-list">
            <!-- begin links-list -->
            <div class="links-list">
              <ul class="links-list__list">
                <li class="links-list__item"><a href="#" class="links-list__link">NISSAN LEAF</a></li>
                <li class="links-list__item"><a href="#" class="links-list__link">TESLA MODEL S</a></li>
                <li class="links-list__item"><a href="#" class="links-list__link">BMW i3</a></li>
                <li class="links-list__item"><a href="#" class="links-list__link">TOYOTA RAV4 EV</a></li>
              </ul>
            </div>
            <!-- end links-list -->

            <!-- begin links-list -->
            <div class="links-list">
              <ul class="links-list__list">
                <li class="links-list__item"><a href="#" class="links-list__link">FIAT 500e</a></li>
                <li class="links-list__item"><a href="#" class="links-list__link">VOLKSWAGEN E-GOLF SEL</a></li>
                <li class="links-list__item"><a href="#" class="links-list__link">MERCEDES B-CLASS ELECTRIC</a></li>
                <li class="links-list__item"><a href="#" class="links-list__link">TESLA MODEL X</a></li>
              </ul>
            </div>
            <!-- end links-list -->
          </div>

          <p>Запас ходу сучасних електромобілів коливається від 145 км до 600 км, що дозволяє вже комфортно користуватися <strong>електромобілями</strong> в місті і передмісті. Варто тільки завести безшумний електродвигун, щоб відчути комфорт і сучасність такої машини, яка абсолютно нічим не поступається своїм бензиновим аналогам.</p>
        </div>

        <div class="section__block">
          <div class="section__title is-left">
            <h2 class="h2">Електромобілі отримують світове визнання і популярність! (H2)</h2>
          </div>

          <p class="has-no-mb">Запас ходу сучасних електромобілів коливається від 145 км до 600 км, що дозволяє вже комфортно користуватися електромобілями в місті і передмісті.</p>
          <p>Покращена динаміка електромобіля і звук вітру на швидкості швидко замінюють звичний «рев» мотора.<a href="#">Електромобілі</a> повністю екологічні і абсолютно не виробляють будь-яких викидів в атмосферу. Це здорове майбутнє. Це технології. Це нові стандарти комфорту і життя.</p>
          <p>Запас ходу сучасних електромобілів коливається від 145 км до 600 км, що дозволяє комфортно користуватися електромобілями в місті і передмісті.</p>
          <p>Варто тільки завести безшумний електродвигун, щоб відчути комфорт і сучасність такої машини, яка абсолютно нічим не поступається своїм бензиновим аналогам.</p>
          <p>Покращена динаміка електромобіля і звук вітру на швидкості швидко замінюють звичний «рев» мотора. Електромобілі повністю екологічні і абсолютно не виробляють будь-яких викидів в атмосферу. Це здорове майбутнє. Це технології. Це нові стандарти комфорту і життя.</p>

          <a href="#" class="link link--simple">
            <span class="link__title">Дізнатися більше</span>
            <span class="link__arrow"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  {# <div class="car-bg" style="background-image: url('img/bg-car.png');"></div> #}
</section>
<!-- end section -->