{%set
slider = [
  { img: 'banner-1.jpg' },
  { img: 'banner-2.jpg' },
  { img: 'banner-3.jpg' }
]
%}

<!-- begin banner-slider -->
<div class="banner-slider">
  <!-- begin slider -->
  <div class="slider__wrap slider--full__wrap slider--banner__wrap">
    <div class="slider slider--full slider--banner js-slider" data-slider="banner">
      {% for i in slider %}
      <div class="slide">
        <div class="slide__inner js-lazy" data-background-image="img/banner-slider/{{ i.img }}">
          <div class="container">
            <div class="row">
              <div class="col-lg-9">
                <div class="hero__block">
                  <div class="hero__title">
                    <h2 class="title title--white">огляд Nissan Leaf 2018 року: майбутнє поза конкуренцією</h2>
                  </div>
                  <div class="hero__subttl">Те, що в другому поколінні Nissan Leaf отримає новий дизайн і начинку, - вже не новина: 
шанувальники цієї моделі бачили її в Інтернеті в новому вигляді і чекали її появи в Україні. </div>
                  <div class="hero__btn">
                    <a href="#" class="link">
                      <span class="link__title">Дізнатися більше</span>
                      <span class="link__arrow"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>          
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="slider__dots js-dots"></div>
    <div class="slider__arrows slider--full__arrows">
      <div class="container">
        <div class="row col-lg-12">
          <button class="slider__prev js-prev"></button>
          <button class="slider__next js-next"></button>
        </div>
      </div>
    </div>
  </div>
  <!-- end slider -->
</div>
<!-- end banner-slider -->