<!-- begin banner-slider -->
<div class="banner-slider">
  <!-- begin slider -->
  <div class="slider__wrap slider--full__wrap">
    <div class="slider slider--full js-slider" data-slider="full">
      {% for i in range(0, 3) %}
      <div class="slide">
        <div class="slide__inner" style="background-image: url('img/banner-slider/banner-1.jpg')">
          <div class="container">
            <div class="row">
              <div class="col-lg-9">
                <div class="hero__block">
                  <div class="hero__title">
                    <h2 class="title title--white">огляд Nissan Leaf 2018 року: майбутнє поза конкуренцією</h2>
                  </div>
                  <div class="hero__subttl">Те, що в другому поколінні Nissan Leaf отримає новий дизайн і начинку, - вже не новина: 
шанувальники цієї моделі бачили її в Інтернеті в новому вигляді і чекали її появи в Україні. </div>
                  <div class="hero__btn">
                    <a href="#" class="link">
                      <span class="link__title">Дізнатися більше</span>
                      <span class="link__arrow"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>          
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="slider__dots js-dots"></div>
    <button class="slider__prev js-prev"></button>
    <button class="slider__next js-next"></button>
  </div>
  <!-- end slider -->
</div>
<!-- end banner-slider -->