<!-- begin brand-nav -->
<div class="brand-nav">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="brand-nav__inner">
          <div class="brand-nav__title">Обрати бренд</div>
          <div class="brnad-nav__nav">
            <!-- begin nav -->
            <nav class="nav nav--brands">
              <ul class="nav__list nav--brands__list">
                <li class="li nav__item nav--brands__item"><a href="#" class="nav__link nav--brands__link">BMW</a></li>
                <li class="li nav__item nav--brands__item"><a href="#" class="nav__link nav--brands__link">tesla</a></li>
                <li class="li nav__item nav--brands__item"><a href="#" class="nav__link nav--brands__link">tesla</a></li>
                <li class="li nav__item nav--brands__item"><a href="#" class="nav__link nav--brands__link">tesla</a></li>
                <li class="li nav__item nav--brands__item"><a href="#" class="nav__link nav--brands__link">tesla</a></li>
                <li class="li nav__item nav--brands__item"><a href="#" class="nav__link nav--brands__link">tesla</a></li>
                <li class="li nav__item nav--brands__item"><a href="#" class="nav__link nav--brands__link">tesla</a></li>
                <li class="li nav__item nav--brands__item"><a href="#" class="nav__link nav--brands__link">tesla</a></li>
                <li class="li nav__item nav--brands__item"><a href="#" class="nav__link nav--brands__link">tesla</a></li>
                <li class="li nav__item nav--brands__item"><a href="#" class="nav__link nav--brands__link">tesla</a></li>
                <li class="li nav__item nav--brands__item"><a href="#" class="nav__link nav--brands__link">tesla</a></li>
                <li class="li nav__item nav--brands__item"><a href="#" class="nav__link nav--brands__link">tesla</a></li>
              </ul>
            </nav>
            <!-- end nav -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end brand-nav -->