<!-- begin carfax -->
<div class="carfax">
  <h1><img class="CToWUd" src="https://ci5.googleusercontent.com/proxy/G9Z6s6cdRLUKVTGiiAvKIYOXRLhiHnG_Z0m4D-Pfmhzw3GWS6h69zzhoS-JKUKJ7Y1tHQzxpBcvB9-PqXcvboYr_p_kJCZK8Rw=s0-d-e1-ft#https://media.carfax.com/img/vhr/m/m_cfxlogo_small.png" alt="CARFAX">Vehicle History Report™</h1>
  <div dir="auto">
    <p><img class="CToWUd" src="https://ci4.googleusercontent.com/proxy/MxKpuQ-0gBs2peCSYz0q6g42I57w8yMkjIpnLCA5q2vc_muU_haiG8qOqnGb_T6VcJBO_ASGrh_HHVKQz7jDf2TJipxhFA=s0-d-e1-ft#https://media.carfax.com/img/vhr/m/m_fox_header.png" alt="" height="91">2014 TESLA MODEL S<br>
      VIN: 5YJSA1H13EFP56262<br>
      HATCHBACK 4 DR<br>
      X<br>
      ELECTRIC<br>
    REAR WHEEL DRIVE</p>
    <div></div>
  </div>
  <table>
    <tbody>
      <tr>
        <td><img class="CToWUd" src="https://ci4.googleusercontent.com/proxy/l9rJ8tXpJ6pWVBvGAuJquNHdYN39UnUgveXcMZvqzAdR9JBuWI-z9pYOjbhB1rY93j5gktzUYZz6SHVtBjn9liy6C9H9Mg=s0-d-e1-ft#https://media.carfax.com/img/vhr/ico_noAccident.gif" alt="No accidents reported" width="32" height="32"></td>
        <td>No accidents reported to CARFAX</td>
      </tr>
      <tr>
        <td><img class="CToWUd" src="https://ci5.googleusercontent.com/proxy/DguZ9nB0aDzYyVk0JW5gEI44Bfi-9yIEM7L-98wlUFu4jnoA4KRg-Kbp8pmEmsoLj5XQvmKEygkTlUAZfakGiLelLJo=s0-d-e1-ft#https://media.carfax.com/img/vhr/ico_noDamage.gif" alt="No damage reported" width="32" height="32"></td>
        <td>No damage reported to CARFAX</td>
      </tr>
      <tr>
        <td><img class="CToWUd" src="https://ci5.googleusercontent.com/proxy/pbeNUDeF1UXuwzPfvfE_IJIN-V_X2tvox-ongL1HQFFG9899yYt6tnXOvNCZzJucHqIaTzXTFtZbPniVilsT-JMu=s0-d-e1-ft#https://media.carfax.com/img/vhr/ico_owner1.gif" alt="CARFAX 1-Owner vehicle" width="32" height="32"></td>
        <td>CARFAX 1-Owner vehicle</td>
      </tr>
      <tr>
        <td><img class="CToWUd" src="https://ci4.googleusercontent.com/proxy/55rDADegp1-eY2-Njs24OGoxWL-tG1uHcKqrzs7tjzSQtCqx_Ylf3dHKpDRx3Lu1DG3zCTLQWmsqwSdjv0foIQ7fsUDT=s0-d-e1-ft#https://media.carfax.com/img/vhr/ico_corporate.gif" alt="Registered as a corporate vehicle" width="32" height="32"></td>
        <td>Corporate vehicle</td>
      </tr>
      <tr>
        <td><img class="CToWUd" src="https://ci3.googleusercontent.com/proxy/EXzt4k5xwKlhEsBiqSu6uz0dJv9yJjeO1cVFiBVza8H0B5gLHY7TcIwkMEXf9dxoGZeX6C_4EscvIZ5ZiKWFDvIFjmI7Zw=s0-d-e1-ft#https://media.carfax.com/img/vhr/ico_stateOwned.gif" alt="Vehicle registration information" width="32" height="32"></td>
        <td>Last owned in California</td>
      </tr>
      <tr>
        <td><img class="CToWUd" src="https://ci3.googleusercontent.com/proxy/MlPxpZbTBb5Kj-3JaNcfHBR9MPjhDkuunrb2QZASUuvi43eJmnUHoM1qiZP2C_t3OUYDOHbWs6GfDmt9d82-51NsxA=s0-d-e1-ft#https://media.carfax.com/img/vhr/ico_mileage.gif" alt="Last reported odometer reading/mileage" width="32" height="32"></td>
        <td>Пробег: <strong>138 445</strong></td>
      </tr>
    </tbody>
  </table>
  <p>This CARFAX Vehicle History Report is based only on information supplied to CARFAX. Other information about this vehicle, including problems, may not have been reported to CARFAX. Use this report as one important tool, along with a vehicle inspection and test drive, to make a better decision about your next used car.</p>
  <div dir="auto">
    <h2>CARFAX Title History</h2>
    <p>CARFAX guarantees the information in this section</p>
  </div>
  <table>
    <tbody>
      <tr>
        <td>Salvage | Junk | Rebuilt | Fire<br>
        Flood | Hail | Lemon</td>
        <td><strong>Guaranteed</strong><br>
        No Problem</td>
      </tr>
      <tr>
        <td>Not Actual Mileage | Exceeds Mechanical Limits</td>
        <td><strong>Guaranteed</strong><br>
        No Problem</td>
      </tr>
    </tbody>
  </table>
  <div dir="auto">GUARANTEED&nbsp;- None of these major title problems were reported by a state Department of Motor Vehicles (DMV). If you find that any of these title problems were reported by a DMV and not included in this report, CARFAX will buy this vehicle back.&nbsp;<a href="http://www.carfaxonline.com/legal/bbgTerms" target="_blank" rel="noopener noreferrer" data-saferedirecturl="https://www.google.com/url?q=http://www.carfaxonline.com/legal/bbgTerms&amp;source=gmail&amp;ust=1541617360496000&amp;usg=AFQjCNHwUesiI48YovCZkwCIJbhETYioLg">View Terms</a></div>
  <div dir="auto">
    <h2>CARFAX Additional History</h2>
    <p>Not all accidents / issues are reported to CARFAX</p>
  </div>
  <table>
    <tbody>
      <tr>
        <td><strong>Total Loss</strong><br>
        No total loss reported to CARFAX.</td>
        <td><img class="CToWUd" src="https://ci6.googleusercontent.com/proxy/rC8V9ZHavS6vj-Q3rTZoRHUG_wUwpeiy6Dm_Uv0i8cLBikRPP-KegpC7JW5srF7KGnt_qeGa7X5lEQN8JFwfEqupbpUyYEk=s0-d-e1-ft#https://media.carfax.com/img/vhr/icon_greenCheck.gif" alt="No Issues Reported" width="18" height="18"></td>
      </tr>
      <tr>
        <td><strong>Structural Damage</strong><br>
        No structural damage reported to CARFAX.</td>
        <td><img class="CToWUd" src="https://ci6.googleusercontent.com/proxy/rC8V9ZHavS6vj-Q3rTZoRHUG_wUwpeiy6Dm_Uv0i8cLBikRPP-KegpC7JW5srF7KGnt_qeGa7X5lEQN8JFwfEqupbpUyYEk=s0-d-e1-ft#https://media.carfax.com/img/vhr/icon_greenCheck.gif" alt="No Issues Reported" width="18" height="18"></td>
      </tr>
      <tr>
        <td><strong>Airbag Deployment</strong><br>
        No airbag deployment reported to CARFAX.</td>
        <td><img class="CToWUd" src="https://ci6.googleusercontent.com/proxy/rC8V9ZHavS6vj-Q3rTZoRHUG_wUwpeiy6Dm_Uv0i8cLBikRPP-KegpC7JW5srF7KGnt_qeGa7X5lEQN8JFwfEqupbpUyYEk=s0-d-e1-ft#https://media.carfax.com/img/vhr/icon_greenCheck.gif" alt="No Issues Reported" width="18" height="18"></td>
      </tr>
      <tr>
        <td><strong>Odometer Check</strong><br>
        No indication of an odometer rollback.</td>
        <td><img class="CToWUd" src="https://ci6.googleusercontent.com/proxy/rC8V9ZHavS6vj-Q3rTZoRHUG_wUwpeiy6Dm_Uv0i8cLBikRPP-KegpC7JW5srF7KGnt_qeGa7X5lEQN8JFwfEqupbpUyYEk=s0-d-e1-ft#https://media.carfax.com/img/vhr/icon_greenCheck.gif" alt="No Issues Indicated" width="18" height="18"></td>
      </tr>
      <tr>
        <td><strong>Accident / Damage</strong><br>
        No accidents or damage reported to CARFAX.</td>
        <td><img class="CToWUd" src="https://ci6.googleusercontent.com/proxy/rC8V9ZHavS6vj-Q3rTZoRHUG_wUwpeiy6Dm_Uv0i8cLBikRPP-KegpC7JW5srF7KGnt_qeGa7X5lEQN8JFwfEqupbpUyYEk=s0-d-e1-ft#https://media.carfax.com/img/vhr/icon_greenCheck.gif" alt="No Issues Reported" width="18" height="18"></td>
      </tr>
      <tr>
        <td><strong>Manufacturer Recall</strong><br>
        Check with an authorized Tesla dealer for any open recalls.</td>
        <td><strong>Ask Your<br>
        Dealer</strong></td>
      </tr>
    </tbody>
  </table>
  <div dir="auto">
    <h2>CARFAX Detailed History</h2>
  </div>
  <div dir="auto">
    <div>
      <h3>Owner 1</h3>
      <p><strong>Purchased:&nbsp;</strong>2014</p>
    </div>
    <div>Corporate vehicle<br>
    28,596 mi./yr</div>
    <div></div>
  </div>
  <table>
    <tbody>
      <tr>
        <td>Mileage:</td>
        <td>Source:</td>
        <td>Comments:</td>
      </tr>
      <tr>
        <td>12/6/14166 mi.</td>
        <td>California<br>
          Motor Vehicle Dept.<br>
        Hayward, CA</td>
        <td>Odometer reading reported</td>
      </tr>
      <tr>
        <td>12/16/14</td>
        <td>California<br>
          Motor Vehicle Dept.<br>
        Hayward, CA</td>
        <td>Title issued or updated<br>
          First owner reported<br>
          Titled or registered as<br>
          corporate vehicle<br>
        Loan or lien reported</td>
      </tr>
      <tr>
        <td>12/18/1786,026 mi.</td>
        <td>California<br>
          Motor Vehicle Dept.<br>
        Fremont, CA</td>
        <td>Odometer reading reported</td>
      </tr>
      <tr>
        <td>1/12/18</td>
        <td>California<br>
          Motor Vehicle Dept.<br>
        Fremont, CA</td>
        <td>Title issued or updated<br>
          Dealer took title of this vehicle<br>
        while it was in inventory</td>
      </tr>
    </tbody>
  </table>
  <div dir="auto">
    <h2>Glossary</h2>
  </div>
  <dl>
    <dt>First Owner</dt>
    <dd>When the first owner(s) obtains a title from a Department of Motor Vehicles as proof of ownership.</dd>
    <dt>Ownership History</dt>
    <dd>CARFAX defines an owner as an individual or business that possesses and uses a vehicle. Not all title transactions represent changes in ownership. To provide estimated number of owners, CARFAX proprietary technology analyzes all the events in a vehicle history. Estimated ownership is available for vehicles manufactured after 1991 and titled solely in the US including Puerto Rico. Dealers sometimes opt to take ownership of a vehicle and are required to in the following states: Maine, Massachusetts, New Jersey, Ohio, Oklahoma, Pennsylvania and South Dakota. Please consider this as you review a vehicle's estimated ownership history.</dd>
    <dt>Title Issued</dt>
    <dd>A state issues a title to provide a vehicle owner with proof of ownership. Each title has a unique number. Each title or registration record on a CARFAX report does not necessarily indicate a change in ownership. In Canada, a registration and bill of sale are used as proof of ownership.</dd>
    <dd><a href="https://www.carfaxonline.com/phoenix/glossary.cfx?language=en" target="_blank" rel="noopener noreferrer" data-saferedirecturl="https://www.google.com/url?q=https://www.carfaxonline.com/phoenix/glossary.cfx?language%3Den&amp;source=gmail&amp;ust=1541617360496000&amp;usg=AFQjCNGrohJG7kJ1lbtxB9rQcaYgqQxs3A">Full Glossary</a></dd>
  </dl>
  <p>CARFAX DEPENDS ON ITS SOURCES FOR THE ACCURACY AND RELIABILITY OF ITS INFORMATION. THEREFORE, NO RESPONSIBILITY IS ASSUMED BY CARFAX OR ITS AGENTS FOR ERRORS OR OMISSIONS IN THIS REPORT. CARFAX FURTHER EXPRESSLY DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. CARFAX®</p>
  <p>SYSTEMATIC RETRIEVAL OF THE CONTENT OR OTHER DATA FROM THIS SITE TO CREATE OR COMPILE, DIRECTLY OR INDIRECTLY, IN WHOLE OR IN PART, A COLLECTION, COMPILATION, DATABASE OR DIRECTORY WITHOUT THE EXPRESS WRITTEN PERMISSION OF CARFAX IS STRICTLY PROHIBITED. THE CARFAX VEHICLE HISTORY REPORT IS SUBJECT TO THE&nbsp;<a href="http://carfax.com/" target="_blank" rel="noopener noreferrer" data-saferedirecturl="https://www.google.com/url?q=http://CARFAX.COM&amp;source=gmail&amp;ust=1541617360496000&amp;usg=AFQjCNHnHewyRbJJmMV26BTf9NzQmCwh_g">CARFAX.COM</a>&nbsp;<a href="http://www.carfax.com/cfm/legal_disclaimer.cfm#2" target="_blank" rel="noopener noreferrer" data-saferedirecturl="https://www.google.com/url?q=http://www.carfax.com/cfm/legal_disclaimer.cfm%232&amp;source=gmail&amp;ust=1541617360496000&amp;usg=AFQjCNF_HlhvEAm767GgpGHAHr_L_kUBCg">TERMS OF USE</a>.</p>

</div>
<!-- end carfax -->