<!-- begin consultation -->
<section class="consultation {% if consultation.reverse %}consultation--reverse{% endif %}">

  <div class="consultation__left ">
    <div class="consultation__top {% if animations %}wow fadeInUp{% endif %}">
      <div class="container">
       <div class="row">
        <div class="col-xl-8 col-lg-6 col-md-6">
          <div class="consultation__title">
            <h2 class="title title--black">консультація спеціаліста</h2>
            <div class="text text--black">Якщо у вас з’явилися запитання або пропозиції, задайте їх нашому спеціалісту:</div>
          </div>
       </div>       
     </div>

     <div class="row">
       <div class="col-xl-4 col-lg-12">
         <div class="phone">
           <div class="phone__icon">{{ mixins.icon('kyivstar') }}</div>
           <div class="phone__phone"><a href="tel:+380687767700">(068) 776-77-00</a></div>
         </div>
       </div>

       <div class="col-xl-4 col-lg-12">
         <div class="phone">
           <div class="phone__icon">{{ mixins.icon('vodafone') }}</div>
           <div class="phone__phone"><a href="tel:+380507767700">(050) 776-77-00</a></div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <div class="consultation__bottom {% if animations %}wow fadeIn{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-6 col-md-6">
        <div class="consultation__title">
          <div class="text text--black">Або залиште ваші данні у формі нижче і ми зв’яжемося з вами у найближчий час:</div>
        </div>

        <div class="consultation__form">
          <!-- begin form -->
          <div class="form form--consultation">
            <form action="">
              <div class="form__row">
                <div class="form__field">
                  <div class="input">
                    <input type="text" placeholder="Введіть ваше ім’я">
                  </div>
                </div>
                <div class="form__field">
                  <div class="input">
                    <input type="text" placeholder="Введіть ваш телефон">
                  </div>
                </div>
              </div>
              <div class="form__btn">
                <button class="btn btn--ttn">
                  <span class="btn__title">Замовити консультацію</span>
                  <span class="btn__icon is-arrow"></span>
                </button>
              </div>
            </form>
          </div>
          <!-- end form -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="consultation__right {% if animations %}wow fadeIn{% endif %}">
  <!-- begin consultation-slider -->
  <div class="consultation-slider">
    <!-- begin slider -->
    <div class="slider__wrap slider--consultation__wrap">
      <div class="slider slider--consultation js-slider" data-slider="consultation">
        {% for i in range(0, 3) %}
        <div class="slide">
          <div class="slide__img js-lazy" data-background-image="img/managers/manager-1.jpg"></div>

          <div class="slide__top-title"><h3 class="h3 h3--white">Оберіть свого консультанта</h3></div>

          <div class="slide__name">
            <h2 class="title title--white">Павло петрук</h2>
            <div class="text text--white text--md">Менеджер з продажів</div>
            <a href="#" class="btn btn--ttn">
              <span class="btn__title">Замовити консультацію</span>
              <span class="btn__icon is-arrow"></span>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

      <button class="slider__prev slider--consultation__prev js-prev"></button>
      <button class="slider__next slider--consultation__next js-next"></button>
    </div>
    <!-- end slider -->
  </div>
  <!-- end consultation-slider -->
</div>
</section>
<!-- end consultation -->