{%set
faq = [
  {
    title: 'Де ви знаходитеся?',
    text: ''
  },
  {
    title: 'Які способи оплати ви приймаєте? ',
    text: ''
  },
  {
    title: 'Які марки електромобілів ви обслуговуєте?',
    text: ''
  },
  {
    title: 'Я не можу самостійно визначити несправність. Що робити?',
    text: ''
  },
  {
    title: 'Моєї марки електромобіля немає у переліку на вашому сайті. Як дізнатися, чи доступна 
вона для ремонту та діагностики у вашому сервісі?',
    text: ''
  },
  {
    title: 'Мій електромобіль не заводиться. Як доставити його на сервіс?',
    text: ''
  }
]
%}

<!-- begin faq -->
<div class="faq-block">
  <h2 class="faq-block__title section__title has-mb-sm h2 h2--ttu title-underlined title-underlined--center">часто запитують</h2>

  <div class="faq-block__subttl section__subttl">Передня підвіска з парними важелями доповнена підвіскою ззаду. 
Також автомобіль має адаптивну підвіску Adaptive Dynamics, підлаштовуватися жорсткість під дорожні умови.</div>

  <div class="faq-block__questions">
    <!-- begin faq -->
    <div class="faq js-accordion">
      {% for i in faq %}
      <div class="faq__item">
        <button class="faq__title js-accordion-title">{{ i.title | safe }}</button>
        <div class="faq__content text text--gray js-accordion-content">
          <strong>Готівкова оплата</strong> (У гривні). <strong>Безготівкова оплата</strong> - оплата по наданому рахунку в будь-якому відділені банку, пункті прийому платежів чи платіжному терміналі. За умови вибору безготівкового методу оплати надання послуг можливе лише після поступлення коштів на наш розрахунковий рахунок. <strong>Переказ грошей на картку Приватбанку</strong> - оплата здійснюється шляхом переказу грошей на картку Приватбанку. Враховуючи низькі тарифи та розгалуженість філій Приватбанку, можна із впевненістю сказати, що цей метод оплати дійсно є одним із найдешевших та вигідніших.
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- end faq -->
  </div>
</div>
<!-- end faq -->