

<!-- begin faq -->
<div class="faq-block">
  <div class="faq-block__title">
    <h2 class="h2">часто запитують</h2>
  </div>

  <div class="faq-block__subttl">Передня підвіска з парними важелями доповнена підвіскою ззаду. 
Також автомобіль має адаптивну підвіску Adaptive Dynamics, підлаштовуватися жорсткість під дорожні умови.</div>

  <div class="faq-block__questions">
    <!-- begin faq -->
    <div class="faq">
      {% for i in faq %}
      <div class="faq__item"></div>
      {% endfor %}
    </div>
    <!-- end faq -->
  </div>
</div>
<!-- end faq -->