<!-- begin hero -->
<section
 class="hero {% if hero.sm %}hero--sm js-lazy{% endif %} {% if hero.lg %}hero--lg js-lazy{% endif %} {% if hero.xs %}hero--xs{% endif %}"
 {% if hero.sm %}data-background-image="{{ hero.bgimage }}"{% endif %}>

  {% if hero.slider %}
  <div class="hero__slider">
    {% include "partials/sliders/_slider-hero.html" %}
  </div>
  {% elseif hero.sm %}
  
  <div class="hero__block">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-8">
          <div class="hero__title">
            <h1 class="title title--white">{{ hero.title }}</h1>
            <div class="hero__subttl">{{ hero.subttl }}</div>
          </div>         

          <div class="hero__breadcrumbs">
            {{ mixins.breadcrumbs(
              links = hero.breadcrumbs
              ) }}
            </div>
          </div>
          <div class="col-xl-3 col-lg-4">
            <div class="hero__btn-right">
              {% if hero.btn %}
              <a href="#" class="btn btn--ttn">
                <span class="btn__title">{{ hero.btn.title }}</span>
                <span class="btn__icon">{{ mixins.icon(hero.btn.icon) }}</span>
              </a>
              {% else %}
              <a href="#" class="btn btn--ttn">
                <span class="btn__title">Замовити консультацію</span>
                <span class="btn__icon is-arrow"></span>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% elseif hero.lg %}
    
    <div class="hero__block">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 col-lg-8">
            <div class="hero__breadcrumbs">
              {{ mixins.breadcrumbs(
                links = [
                { title: 'Головна'},
                { title: 'Моделі' },
                { title: 'BMW i3', active: true }
                ]
              ) }}
              </div>

              <div class="hero__title">
                <h1 class="title title--white">Електризуйте натхнення</h1>
                <div class="hero__subttl is-ttn">BMW i3 та i3s формують майбутнє електричної мобільності.</div>
              </div>

              <div class="hero__btn">
                <a href="#" class="btn btn--ttn">
                  <span class="btn__title">Замовити консультацію</span>
                  <span class="btn__icon is-arrow"></span>
                </a>
              </div> 

            </div>
          </div>
        </div>
      </div>

      <div class="hero__bg">
        <video class="js-lazy" src="" data-src="video/FIND-OUT-TESLA_720.mp4" muted="" autoplay="" playsinline="" loop="" poster="img/hero-video-poster.jpg"></video>
      </div>
      
      {%set techInfo = hero.techInfo %}
      {% include "partials/_tech-info.html" %}

      {% elseif hero.xs %}

      <div class="hero__block">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="hero__title">
                <div class="title title--white">2017 BMW I3 Mega World 33KWh</div>
              </div>
              
              <div class="hero__breadcrumbs">
                {{ mixins.breadcrumbs(
                  links = [
                  { title: 'Головна'},
                  { title: 'Електромобілі в наявності' },
                  { title: '2017 BMW I3 Mega World 33KWh', active: true }
                  ]
                ) }}
              </div>

              <div class="hero__btns">
                {% include "partials/_hero-btns.html" %}
              </div>

            </div>
          </div>
        </div>
      </div>
    

  {% endif %}
</section>
<!-- end hero -->