<!-- begin hero-btns -->
<div class="hero-btns">
  <ul class="hero-btns__list">
    <li class="hero-btns__item"><a href="#" class="hero-btns__link">Запропонувати свою ціну {{ mixins.icon('writing') }}</a></li>
    <li class="hero-btns__item"><a href="#" class="hero-btns__link">Trade-in {{ mixins.icon('eye') }}</a></li>
    <li class="hero-btns__item"><a href="#" class="hero-btns__link">PDF- брошура {{ mixins.icon('files') }}</a></li>
    <li class="hero-btns__item"><a href="#" class="hero-btns__link">Замовити консультацию {{ mixins.icon('employee') }}</a></li>
  </ul>
</div>
<!-- end hero-btns -->