<!-- begin hero-btns -->
<div class="hero-btns">
  <ul class="hero-btns__list">
    <li class="hero-btns__item"><a href="#" class="hero-btns__link">Запропонувати свою ціну</a></li>
    <li class="hero-btns__item"><a href="#" class="hero-btns__link is-active">Trade-in</a></li>
    <li class="hero-btns__item"><a href="#" class="hero-btns__link">PDF- брошура</a></li>
    <li class="hero-btns__item"><a href="#" class="hero-btns__link">Замовити консультацию</a></li>
  </ul>
</div>
<!-- end hero-btns -->