<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__title is-left title-underlined has-mb-sm">
          <h2 class="title">як придбати електромобіль</h2>          
        </div>
        <div class="section__title is-left text text--gray">Будемо раді бути корисними у виборі відповідного електромобіля!</div>
      </div>
    </div>
  </div>

  <!-- begin section-comb-block -->
  <div class="section-comb-block">
    <div class="section-comb-block__img js-lazy" data-background-image="img/about/model1.png"></div>

    <div class="section-comb-block__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-7">
            <div class="section-comb-block__block">
              <h2 class="h2 title-underlined">Авто в наявності</h2>
              <!-- begin complectation-list -->
              <div class="complectation-list">
               <ul class="complectation-list__list">
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} Всі авто в наявності доступні для тест драйву і детальної консультації. </li>
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} Оплата може бути проведена: готівковим розрахунком, безготівковим, в кредит від 0,001% або в лізинг.</li>
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} Оформлення авто протягом 2-4 годин.</li>
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} Чи отримуєте автомобіль з гарантією і повним пакетом документів.</li>
               </ul>
             </div>
             <!-- end complectation-list -->
            
            <a href="#" class="link link--green">
              <span class="link__title">Дізнатися більше</span>
              <span class="link__arrow"></span>
            </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end section-comb-block -->

  <!-- begin section-comb-block -->
  <div class="section-comb-block">
    <div class="section-comb-block__img js-lazy is-right" data-background-image="img/about/model-2.png"></div>

    <div class="section-comb-block__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="section-comb-block__block">
              <h2 class="h2 title-underlined">Авто «скоро у продажу»</h2>
              <!-- begin complectation-list -->
              <div class="complectation-list">
               <ul class="complectation-list__list">
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} Статус «скоро у продажу» означає, що авто вже куплено (в США) і в даний момент знаходиться на шляху в Україну (15-45 днів).</li>
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} При ранньому бронюванні автомобіля у Вас є можливість отримати від $ 300 до $ 1000 вигоди</li>
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} При підписанні договору, перший внесок - 10% вартості автомобіля.</li>
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} При доставці автомобіля ми виробляємо контрольну перевірку і передпродажну підготовку автомобіля.</li>
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} Протягом обумовленого в договорі терміну Ви отримуєте свій автомобіль і вносите залишок по оплаті.</li>
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} У разі, якщо автомобіль з яких-небудь причин Вам не підійшов, Ви можете використовувати депозит на інший автомобіль з категорій: в наявності, скоро в продажу, авто з США.</li>
               </ul>
             </div>
             <!-- end complectation-list -->
            
            <a href="#" class="link link--green">
              <span class="link__title">Дізнатися більше</span>
              <span class="link__arrow"></span>
            </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end section-comb-block -->

  <!-- begin section-comb-block -->
  <div class="section-comb-block">
    <div class="section-comb-block__img js-lazy" data-background-image="img/about/model-3.png"></div>

    <div class="section-comb-block__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-7">
            <div class="section-comb-block__block">
              <h2 class="h2 title-underlined">Авто з США</h2>
              <!-- begin complectation-list -->
              <div class="complectation-list">
               <ul class="complectation-list__list">
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} У Вас є можливість замовити персональний підбір автомобіля в США і зробити покупку з вигодою до 20% від ринкової вартості.</li>
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} Спільно з нашими фахівцями, зробимо пошук гідного автомобіля в США і запропонуємо варіанти.</li>
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} Купівля може бути здійснена як на найбільших аукціонах, так і безпосередньо від автовиробника.</li>
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} При підписанні договору, вноситься передоплата від 30% і було придбано проектор автомобіля.</li>
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} Протягом 45-90 днів автомобіль автомобіль доставляється в Україну з повним документальним оформленням.</li>
                <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} Чи отримуєте автомобіль з гарантією та обслуговуванням від Olmaks Group.</li>
               </ul>
             </div>
             <!-- end complectation-list -->
            
            <a href="#" class="link link--green">
              <span class="link__title">Дізнатися більше</span>
              <span class="link__arrow"></span>
            </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end section-comb-block -->
</section>
<!-- end section -->