<!-- begin model-descr -->
<section class="model-descr">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 order-1 order-lg-0">
        <div class="model-descr__img js-lazy {% if animations %}wow fadeInUp{% endif %}" data-background-image="img/model-descr/car-1.jpg"></div>
      </div>

      <div class="col-lg-5 order-0 order-lg-1">
        <div class="model-descr__text has-pt {% if animations %}wow fadeInUp{% endif %}">
          <div class="model-descr__title">
            <h2 class="h2">BMW I3</h2>
          </div>

          <p class="text text--gray">BMW i3 - 5-дверний міський електричний автомобіль, і перший серійний автомобіль BMW з нульовим рівнем викидів CO2. Алюмінієва рама, углепластіковий кузов, органічні матеріали інтер'єру. Батарея під підлогою і електромотор між задніми колесами. Навіть в електромобілях BMW залишається вірним задньопривідної схемою.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="model-descr__text {% if animations %}wow fadeInUp{% endif %}">
          <div class="model-descr__title">
            <h2 class="h2">Дизайн</h2>
          </div>

          <p class="text text--gray">У цій моделі конструктори ретельно продумали всі аспекти, кожна деталь відмінно «заточена» під свою функцію. За основу дизайну взята архітектура LifeDrive: модель позиціонується як просторе, легке і в той же час безпечний транспортний засіб. Простота конструкції і сучасні матеріали дозволяють без проблем долати великі дистанції без підзарядки і убезпечити пасажирів при зіткненнях, крім того, i3 може похвалитися відмінною динамікою руху.</p>

        </div>
        
        <div class="model-descr__img js-lazy is-full-width-left {% if animations %}wow fadeInUp{% endif %}" data-background-image="img/model-descr/bmw_i3s_14.jpg"></div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="model-descr__img is-full js-lazy {% if animations %}wow fadeInUp{% endif %}" data-background-image="img/model-descr/BMW-MY19-XSeries-X4-DP-Highlight-05-v2.jpg"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="model-descr__img is-full-width-left js-lazy {% if animations %}wow fadeInUp{% endif %}" data-background-image="img/model-descr/car-2.jpg"></div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="model-descr__img js-lazy {% if animations %}wow fadeInUp{% endif %}" data-background-image="img/model-descr/car-3.jpg"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="model-descr__text is-accent is-left {% if animations %}wow fadeInUp{% endif %}">
          <div class="model-descr__title">
            <h2 class="h2">Технічні показники</h2>
          </div>

          <p class="text text--gray">Батарея в корпусі розташована так, щоб забезпечити хороший розподіл ваги і динаміку руху. Електродвигун на задній осі здатний видавати 125 кВт (170 к.с.) і 250 Нм, в результаті чого машина може «похвалитися» хорошими ходовими характеристиками і невеликим радіусом повороту. Розгін до 100 км / год відбувається за 8 секунд. Перевагами BMW i3 можна без сумніву назвати високу маневреність і маленький радіус повороту, що дозволяє припаркуватися в найскладніших умовах.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="model-descr__text is-accent is-right {% if animations %}wow fadeInUp{% endif %}">
          <div class="model-descr__title">
            <h2 class="h2">Салон</h2>
          </div>
          
          <p class="text text--gray">Салон BMW i3 Внутрішній простір салону оформлено напівпрозорими елементами, через що здається ще більш просторим. В сторону «екологічності» можна записати ще й такий факт, що при виготовленні авто використовуються поновлювані матеріали. Приладова і дверна панель зроблені з натуральної сировини, а шкіряний інтер'єр природного кольору генерує приємну лаунж-атмосферу. Матеріали відмінно контрастують з обтікають формами компонентів двері і приладової панелі.</p>
        </div>
      </div>
    </div>


  </div>
</section>
<!-- end model-descr -->