{%set
complList = [
  {
    list: [
      { text: 'ABD' },
      { text: 'ABS' },
      { text: 'Bi-xenon' },
      { text: 'ESP' },
      { text: 'Кабель зарядки в комплекте (220В)' },
      { text: 'Климат контроль' },
      { text: 'Кондиционер' },
      { text: 'Круиз контроль' }
    ]
  },
  {
    list: [
      { text: 'Мультимедиа: usb, aux, radio, CD' },
      { text: 'Мультируль' },
      { text: 'Подогрев сидений' },
      { text: 'Преднатяжители ремней безопасности' },
      { text: 'Безопасность: 8 подушек' },
      { text: 'Бортовой компьютер' },
      { text: 'Датчик давления шин' },
      { text: 'Датчик дождя' }
    ]
  },
  {
    list: [
      { text: 'Датчик света' },
      { text: 'Запуск кнопкой' },
      { text: 'Иммобилайзер' },
      { text: 'Салон: кожа, белый' },
      { text: 'Салон: кожа, черный' },
      { text: 'Центральный замок' },
      { text: 'Электропривод боковых зеркал' },
      { text: 'Электро усилитель руля' }
    ]
  }
]
%}
{%set
techTable = [
  { title: 'Потужність:', text: '115kW (154 л/с)' },
  { title: 'Пікова потужність:', text: '129kW' },
  { title: 'Батарея:', text: '129kW' },
  { title: 'Напруження:', text: '386V' },
  { title: 'Обертаючий момент:', text: '218 Hм (273Нм спорт-режим)' },
  { title: 'Пробіг:', text: '30300 км' },
  { title: 'Батарея:', text: '120 квт' },
  { title: 'Трансмісія:', text: 'Автомат' },
  { title: 'Стан: ', text: 'Б/у' }
]
%}

<!-- begin model-tabs -->
<section class="model-tabs js-tabs">
  <div class="model-tabs__tabs">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- begin model-tabs-list -->
          <div class="model-tabs-list">
            <ul class="model-tabs-list__list">
              <li class="model-tabs-list__item"><a href="model_tabs" class="model-tabs-list__link js-tab js-scroll-to-btn is-active" data-target-tab="description">Опис та комплектація <span class="model-tabs-list__icon"></span></a></li>
              <li class="model-tabs-list__item"><a href="model_tabs" class="model-tabs-list__link js-tab js-scroll-to-btn" data-target-tab="video">Відео огляд <span class="model-tabs-list__icon"></span></a></li>
              <li class="model-tabs-list__item"><a href="model_tabs" class="model-tabs-list__link js-tab js-scroll-to-btn" data-target-tab="angle">дивитися у 360<sup>о</sup> <span class="model-tabs-list__icon"></span></a></li>
              <li class="model-tabs-list__item"><a href="model_tabs" class="model-tabs-list__link js-tab js-scroll-to-btn" data-target-tab="characteristics">Технічні характеристики <span class="model-tabs-list__icon"></span></a></li>
              <li class="model-tabs-list__item"><a href="model_tabs" class="model-tabs-list__link js-tab js-scroll-to-btn" data-target-tab="carfax">Carfax <span class="model-tabs-list__icon"></span></a></li>
            </ul>
          </div>
          <!-- end model-tabs-list -->
        </div>
      </div>
    </div>
  </div>

  <div class="model-tabs__content" data-scroll-target="model_tabs">
    <!-- begin model-tab-item -->
    <div class="model-tab-item js-tabs-item is-active" data-tab="description">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="model-tab-item__title">
              <h2 class="h2">Комплектація та опції:</h2>
            </div>
          </div>
        </div>

        <!-- begin complectation-list -->
        <div class="complectation-list">
          <div class="row">
           {% for i in complList %}
           <div class="col-lg-4 col-md-6">
             <ul class="complectation-list__list">
               {% for j in i.list %}
               <li class="complectation-list__item">{{ mixins.icon('plus-filled') }} {{ j.text }}</li>
               {% endfor %}
             </ul>
           </div>
           {% endfor %}
          </div>
        </div>
        <!-- end complectation-list -->
      </div>
      
    </div>
    <!-- end model-tab-item -->

    <!-- begin model-tab-item -->
    <div class="model-tab-item js-tabs-item" data-tab="video">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="model-tab-item__img">
              <iframe class="js-lazy" data-src="https://www.youtube.com/embed/GxqttEVZV7U?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- end model-tab-item -->

    <!-- begin model-tab-item -->
    <div class="model-tab-item js-tabs-item" data-tab="angle">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="model-tab-item__img">
              <div class="js-spinner" data-source="img/360rotate/rad_zoom_{frame}.jpg" data-frame="[1, 34]"></div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- end model-tab-item -->

    <!-- begin model-tab-item -->
    <div class="model-tab-item js-tabs-item" data-tab="characteristics">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- begin tech-table -->
            <table class="tech-table tech-table--left">
              {% for i in techTable %}
              <tr class="tech-table__tr">
                <th class="tech-table__th">{{ i.title }}</th>
                <td class="tech-table__td">{{ i.text }}</td>
              </tr>
              {% endfor %}
            </table>
            <!-- end tech-table -->
          </div>

          <div class="col-md-6">
            <!-- begin tech-table -->
            <table class="tech-table tech-table--right">
              {% for i in techTable %}
              <tr class="tech-table__tr">
                <th class="tech-table__th">{{ i.title }}</th>
                <td class="tech-table__td">{{ i.text }}</td>
              </tr>
              {% endfor %}
            </table>
            <!-- end tech-table -->
          </div>
        </div>
      </div>
      
    </div>
    <!-- end model-tab-item -->

    <!-- begin model-tab-item -->
    <div class="model-tab-item js-tabs-item" data-tab="carfax">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            {% include "partials/_carfax.html" %}
          </div>
        </div>
      </div>
      
    </div>
    <!-- end model-tab-item -->
  </div>
</section>
<!-- end model-tabs -->