<!-- begin new-item -->
<div class="new-item">
  <div class="new-item__top">
    <div class="new-item__title">
      <h4 class="h4"><a href="#">{{ i.title }}</a></h4>
    </div>

    <div class="new-item__list">
      <table class="item-list">      
        <tr class="item-list__row">
          <th class="item-list__title">Вартість: </th>
          <td class="item-list__text is-green">30,900$</td>
        </tr>
        <tr class="item-list__row">
          <th class="item-list__title">Пробіг:</th>
          <td class="item-list__text">30300 км</td>
        </tr>
        <tr class="item-list__row">
          <th class="item-list__title">Рік:</th>
          <td class="item-list__text">2017</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="new-item__img js-lazy" data-background-image="img/new-items/{{ i.img }}">
  </div>

  <div class="new-item__btns">
    <a href="#" class="btn btn--full btn--gray">
      <span class="btn__title">
        TEST DRIVE {{ mixins.iconCar() }}
      </span>
    </a>
    <a href="#" class="btn btn--ttn btn--full btn--white">
      <span class="btn__title">Дізнатися більше</span>
    </a>
  </div>
</div>
<!-- end new-item -->