<!-- begin about -->
<section class="about">
  <!-- begin about-block -->
  <div class="about-block about-block--sm">
    <div class="about-block__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="about-block__text-block">
              <h2 class="title title--ttn title-underlined about-block__title">Гарантія та обслуговування електромобілів</h2>

              <div class="about-block__text text text--gray">Ніякої проблеми з обслуговування або навіть ремонту електромобіля сьогодні немає. Конструктивно він не складніше звичайної машини.</div>

              <a href="#" class="link link--green">
                <span class="link__title">Дізнатися більше</span>
                <span class="link__arrow"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-block__img js-lazy" data-background-image="img/about/Panorama.jpg"></div>

  </div>
  <!-- end about-block -->

  <!-- begin about-block -->
  <div class="about-block about-block--sm">
    <div class="about-block__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-7"></div>
          <div class="col-lg-5">
            <div class="about-block__text-block">
              <h2 class="title title--ttn title-underlined about-block__title">Огляд електрокару вигідніше ніж ТО звичного авто</h2>

              <div class="about-block__text text text--gray">Матеріали у електроніки такі ж, як у звичайного авто (лампочки, високовольтні дроти, підігрів сидінь). У ходової частини використовуються такі ж пружини, амортизатори, важелі, втулки, гальма з колодками і гальмівними дисками, як і у звичайного авто. Причому термін служби гальм у електрокарів вдвічі-втричі довше за рахунок рекуперації при гальмуванні. Також електромотор в рази легше бензинового, тому знижується навантаження на передню підвіску. У підсумку замість звичного ТО раз в 10-20 тис. Км електромобіль потребує лише в профілактичних оглядах кілька разів на рік.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-block__img js-lazy is-left" data-background-image="img/about/car-1.jpg"></div>

  </div>
  <!-- end about-block -->

  <!-- begin about-block -->
  <div class="about-block about-block--lg">
    
    <div class="about-block__img is-left">
      <div class="about-block__img-video">
        <video data-src="video/nissan.mp4" poster="img/about/car-2.jpg" class="js-lazy" muted="" autoplay="" loop="" playsinline=""></video>
      </div>
    </div>

    <div class="about-block__img js-lazy is-short" data-background-image="img/about/car-3.jpg"></div>

  </div>
  <!-- end about-block -->

  <!-- begin about-block -->
  <div class="about-block">
    <div class="about-block__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="about-block__text-block">
              <h2 class="title title--ttn title-underlined about-block__title">Термін служби електрокарів</h2>

              <div class="about-block__text text text--gray">Один з найбільших міфів про електромобілі - це те, що через кілька років батарея вийде з ладу, а вам виставлять величезний рахунок до оплати. Це вкрай малоймовірно. </div>

              <a href="#" class="link link--green">
                <span class="link__title">Дізнатися більше</span>
                <span class="link__arrow"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-block__img js-lazy" data-background-image="img/about/car-4.jpg"></div>

  </div>
  <!-- end about-block -->

  <!-- begin about-block -->
  <div class="about-block">
    <div class="about-block__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="about-block__text-block">

              <div class="about-block__text has-top-line text text--gray">Так, протягом багатьох років відбудеться деяка втрата заряду, але незважаючи на це, що підключаються автомобілі мають суттєві гарантії на батареї, зазвичай в області 8 років і 100 000 миль (деякі навіть довше). Навіть через цей термін батарея не відмовляється працювати повністю, а лише частково втрачає ємність. Так, у проданих в Україні 5 років тому Mitsubishi i-MIEV, втрата ємності складає близько 15-20%.</div>

              <a href="#" class="link link--green">
                <span class="link__title">Дізнатися більше</span>
                <span class="link__arrow"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-block__img js-lazy" data-background-image="img/about/car-6.jpg"></div>

  </div>
  <!-- end about-block -->

  <!-- begin about-block -->
  <div class="about-block">
    <div class="about-block__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-7"></div>
          <div class="col-lg-5">
            <div class="about-block__text-block">

              <div class="about-block__text has-top-line text text--gray">Але якщо батарея все-таки вийде з ладу, завжди можна замінити застарілі осередки на нові, замість заміни цілої батареї. Вартість такого ремонту складе кілька сотень доларів. «В майбутньому, ціна АКБ буде стрімко падати (як і вартість будь-якої електроніки)»: так, керівник Tesla Елон Маск заявив, що після того, як компанія побудує в цьому році гігафабріку з виробництва акумуляторів, ціни знизяться вдвічі.</div>

              <a href="#" class="link link--green">
                <span class="link__title">Дізнатися більше</span>
                <span class="link__arrow"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-block__img js-lazy is-left" data-background-image="img/about/car-7.jpg"></div>

  </div>
  <!-- end about-block -->
  
  <!-- begin about-block -->
  <div class="about-block">
    <div class="about-block__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="about-block__text-block">

              <div class="about-block__text has-top-line text text--gray">Теоретично, електромотор також може зноситися і вимагати заміни. Але на практиці такі випадки не відомі. Сучасні електромотори позбавлені струмопровідних щіток і деталей, що труться, тому дуже надійні. Крім того, їх конструкція в рази простіше традиційного двигуна внутрішнього згоряння. Тобто там нема чому ламатися. Життєвий цикл електромотора цілком може перевищити 1 000 000 км.</div>

              <a href="#" class="link link--green">
                <span class="link__title">Дізнатися більше</span>
                <span class="link__arrow"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-block__img js-lazy" data-background-image="img/about/car-8.jpg"></div>

  </div>
  <!-- end about-block -->

  <!-- begin about-block -->
  <div class="about-block">
    
    <div class="about-block__img js-lazy is-left is-short" data-background-image="img/about/car-9.jpg"></div>

    <div class="about-block__img">
      <div class="about-block__img-video">
        <video data-src="video/tesla.mp4" poster="img/about/car-10.jpg" class="js-lazy" muted="" autoplay="" loop="" playsinline=""></video>
      </div>
    </div>

  </div>
  <!-- end about-block -->

</section>
<!-- end about -->