<!-- begin section -->
<section class="section section--md">
 <!-- begin map-block -->
 <div class="map-block">
   <div class="container">
     <div class="row">
       <div class="col-md-6">
         <h4 class="h4">Важливо!</h4>

         <div class="text text--gray">Клікайте на конкретну заправку і читайте умови використання. Зверніть увагу на рейтинг заправки. Є як платні, так і безкоштовні електрозаправки</div>
       </div>

       <div class="col-md-6">
         <!-- begin map-block-list -->
         <div class="map-block-list">
           <ul class="map-block-list__list">
             <li class="map-block-list__item">
                <div class="map-block-list__icon"><i class="ic ic-map-green"></i></div>
                <strong>Charge de move -</strong> (зарядка на ходу) - прискорена електрозаправка
              </li>
             <li class="map-block-list__item">
               <div class="map-block-list__icon"><i class="ic ic-map-orange"></i></div>
               <strong>Звичайна електрозаправка -</strong> як правило, потрібно завантажити додаток або попросити надати доступ до зарядки на місці.
             </li>
           </ul>
         </div>
         <!-- end map-block-list -->
       </div>

       <div class="col-12">
         <div class="map-block__map">
           <iframe src='https://www.plugshare.com/widget2.html?latitude=50.4501&longitude=30.5234&spanLat=0.28913&spanLng=0.28913outlets=[{"connector":1},{"connector":2},{"connector":3},{"connector":4},{"connector":5},{"connector":6,"power":0},{"connector":6,"power":1},{"connector":13},{"connector":7},{"connector":8},{"connector":9},{"connector":10},{"connector":11},{"connector":12},{"connector":14},{"connector":15},{"connector":16},{"connector":17}]' frameborder="0"></iframe>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- end map-block -->
</section>
<!-- end section -->