<!-- begin section -->
<section class="section ">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
        <div class="section__block">
          <div class="section__title is-left">
            <h2 class="h2">Електромобілі отримують світове визнання і популярність! (H2)</h2>
          </div>

          <p class="has-no-mb">Запас ходу сучасних електромобілів коливається від 145 км до 600 км, що дозволяє вже комфортно користуватися електромобілями в місті і передмісті.</p>
          <p>Покращена динаміка електромобіля і звук вітру на швидкості швидко замінюють звичний «рев» мотора.<a href="#">Електромобілі</a> повністю екологічні і абсолютно не виробляють будь-яких викидів в атмосферу. Це здорове майбутнє. Це технології. Це нові стандарти комфорту і життя.</p>
          <p>Запас ходу сучасних електромобілів коливається від 145 км до 600 км, що дозволяє комфортно користуватися електромобілями в місті і передмісті.</p>
          <p>Варто тільки завести безшумний електродвигун, щоб відчути комфорт і сучасність такої машини, яка абсолютно нічим не поступається своїм бензиновим аналогам.</p>
          <p>Покращена динаміка електромобіля і звук вітру на швидкості швидко замінюють звичний «рев» мотора. Електромобілі повністю екологічні і абсолютно не виробляють будь-яких викидів в атмосферу. Це здорове майбутнє. Це технології. Це нові стандарти комфорту і життя.</p>

          <a href="#" class="link link--simple">
            <span class="link__title">Дізнатися більше</span>
            <span class="link__arrow"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->