<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__title title-underlined is-left">
          <h2 class="title">статистика</h2>
        </div>
      </div>
    </div>

    <!-- begin statistics -->
    <div class="statistics">
      <div class="statistics__item">
        <div class="statistics__title title">2,000</div>
        <div class="statistics__subttl text">Продано авто</div>
      </div>

      <div class="statistics__item">
        <div class="statistics__title title">75,000,000$</div>
        <div class="statistics__subttl text">Продано на суму</div>
      </div>

      <div class="statistics__item">
        <div class="statistics__title title">100%</div>
        <div class="statistics__subttl text">Задоволених користувачів</div>
      </div>

      <div class="statistics__item">
        <div class="statistics__title title">3,600 </div>
        <div class="statistics__subttl text">Зроблено сервісів</div>
      </div>
    </div>
    <!-- end statistics -->
  </div>  
</section>
<!-- end section -->