<!-- begin two-banners -->
<section class="two-banners">
  <!-- begin banner-half -->
  <div class="banner-half" style="background-image: url('img/banners/banner-1.jpg');">
    <div class="banner-half__block">
      <div class="banner-half__title">
        <h2 class="title title--white">trade-in</h2>
        <div class="text text--white">Система Trade-In - це швидкий та зручний обмін старого автомобіля будь-якого року випуску і моделі на новий електромобіль з доплатою</div>
      </div>

      <div class="banner-half__btn">
        <a href="#" class="btn">
          <span class="btn__title">Замовити послугу</span>
          <span class="btn__icon is-arrow"></span>
        </a>
      </div>
    </div>
  </div>
  <!-- end banner-half -->

  <!-- begin banner-half -->
  <div class="banner-half" style="background-image: url('img/banners/banner-2.jpg');">
    <div class="banner-half__block">
      <div class="banner-half__title">
        <h2 class="title title--white">тест-драйв</h2>
        <div class="text text--white">Для того, щоб оформити заявку на тест-драйв, просимо Вас заповнити просту форму, яка допоможе менеджеру зв'язатись з Вами.</div>
      </div>

      <div class="banner-half__btn">
        <a href="#" class="btn">
          <span class="btn__title">Замовити послугу</span>
          <span class="btn__icon is-arrow"></span>
        </a>
      </div>
    </div>
  </div>
  <!-- end banner-half -->
</section>
<!-- end two-banners -->