<!-- begin blog-article -->
<div class="blog-article">
  <div class="blog-article__article">
    <figure>
      <div class="blog-item-label">Автоогляд</div>
      <img src="img/blog/car-lg.jpg" alt="">
      <figcaption>Olmaks Group, 25 Березня, 2019 </figcaption> 
    </figure>

    <p>В Jaguar свій електромобіль позиціонують як «самий інтелектуальний п'ятимісний спорткар в світі». Уже відомо, що електричний позашляховик Jaguar I-PACE буде коштувати дешевше, ніж його основні конкуренти Tesla Model X і S. За останніми даними, ціна I-PACE для продажу в США стартує від $ 69 500.</p>
    <p><strong>«Автоімпортер Olmaks Group</strong> запропонує українським споживачам новинку від Jaguar за орієнтовною ціною від $ 85 000 практично відразу після того, як електромобіль надійде в продаж в Штатах», - заявляє Максим Машталір, CEO компанії Olmaks Group.</p>

    <figure>
      <img src="img/blog/car-lg-2.jpg" alt="">
      <figcaption>Електромобиль Jaguar I-Pace</figcaption>
    </figure>

    <p>Технічні характеристики нового кросовера вражають. Вихідна потужність I-PACE в 400 л. с. дозволяє розвинути швидкість 100 км / год за 4,8 секунди при максимально можливій швидкості в 200 км / ч. На одній повній зарядці можна подолати 480 км.</p>
    <p>Найбільша висота над передніми сидіннями з фіксованою панорамним дахом становить 1013 мм, над задніми - 968 мм. Максимальний простір для ніг в передній і задній частинах салону - 1040 мм і 890 мм відповідно. Місткість багажного відділення - 656 літрів.</p>

    <img src="img/blog/car-lg.jpg" alt="">

    <figure>
      <img src="img/blog/car-lg.jpg" alt="">
      <figcaption>Jaguar I-Pace всередені</figcaption>
    </figure>

    <p>I-PACE оснащений двома встановленими на осях електромоторами потужністю в 200 сил кожен і одноступеневою трансмісією. Акумуляторна батарея ємністю 90 кВтг розташована під підлогою, між мостами. Гарантія на батарею - 8 років, або 160 000 км пробігу. В цілому I-PACE може прийняти до 100 кВт заряду, таким чином, додати 100 км діапазону на зарядної станції можна буде за 15 хвилин. Типове зарядний пристрій потужністю 50 кВт дозволяє дати до 270 км діапазону в годину. Для зарядки будинку I-PACE оснащений однофазним зарядним пристроєм потужністю 7 кВт, яке може повністю зарядити автомобіль протягом ночі і додати до 35 км діапазону в годину.</p>
    
    <figure>
      <img src="img/blog/car-lg.jpg" alt="">
    </figure>
    

    <h2>Детальніше про технічні характеристики Jaguar I-Pace</h2>

    <p>Передня підвіска з парними важелями доповнена підвіскою ззаду. Також автомобіль має адаптивну підвіску Adaptive Dynamics, підлаштовуватися жорсткість під дорожні умови. Звуконепроникність забезпечують спеціальна конструкція кузова, кожух двигуна і ламіновані передні стекла.</p>

    <figure>
      <img src="img/blog/car-lg.jpg" alt="">
      <figcaption>Салон Jaguar I-Pace</figcaption>
    </figure>

    <p>За допомогою брелку або Bluetooth-сигналу зі смартфона електромобіль дізнається про наближення водія і налаштовує клімат-контроль, мультимедійний комплекс і положення крісла до моменту початку поездкі.С допомогою алгоритмів штучного інтелекту кросовер також аналізує переваги водія і адаптує під них настройки управління, кліматичної установки і мультимедійної системи I-PACE. Крім того, режими руху залежать від погоди, часу доби і маршруту поїздки. Наприклад, в разі необхідності I-PACE може автоматично включати підігрів керма і сидінь.</p>
    <p>«I-PACE уособлює нове покоління акумуляторних електрокарів. Якісно новрий автомобіль з вражаючим виглядом, I-PACE дивиться в майбутнє. Характерні риси Jaguar поєднуються в ньому з розкішними деталями, виготовленими з істинно британським майстерністю », - зазначив Ян Каллум, директор по дизайну Jaguar.</p>

    <ul>
      <li>На прошедшем недавно автосалоне в Лос-Анджелесе ожидалась премьера нового водородного концепткара BMW, изображения которого накануне неожиданно вспыли в Китае, но позже выяснилось, что это какая-то старая неудачная разработка и ничего такого немецкая фирма в Америку не привезла.</li>
      <li>В рамках климатического саммита в Париже Германия взяла на себя обязательства полностью отказаться от автомобилей с ДВС к 2050 году.</li>
    </ul>

    <table>
      <tbody>
        <tr>
          <td>Мощность двигателя, л.с.</td>
          <td>150</td>
        </tr>
        <tr>
          <td>Емкость батареи, кВт/часов</td>
          <td>40</td>
        </tr>
        <tr>
          <td>Крутящий момент, Нм</td>
          <td>320</td>
        </tr>
        <tr>
          <td>Время зарядки, ч.</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Разгон до 100 км/ч, сек.</td>
          <td>7,9</td>
        </tr>
        <tr>
          <td>Запас хода, км.</td>
          <td>378</td>
        </tr>
        <tr>
          <td>Цена, тыс.</td>
          <td>$40</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="blog-article__ad">
    <div class="text text--gray">Невелика реклама, знята командою Jaguar:</div>
    <div class="blog-article__video">
      <iframe src="https://www.youtube.com/embed/kf1K06xvi4k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>    
  </div>

  <div class="blog-article__next">
    <h2 class="h2">Наступні статті:</h2>

    <div class="row">
      <div class="col-md-5">
        {{ mixins.blogItem(
          sm = true,
          mod = 'blog-item--md blog-item--full',
          img = 'car-md.jpg',
          label = 'Автоогляд',
          title = 'Nissan Leaf 2018 року: Майбутнє поза конкуренцією',
          subttl = 'Те, що в другому поколінні Nissan Leaf отримає новий дизайн і начинку, - вже не новина: шанувальники цієї моделі бачо він того, щоб його купити?'
          ) }}
        </div>

      <div class="col-md-7">
        {{ mixins.blogItem(
          sm = true,
          mod = 'blog-item--md blog-item--full',
          img = 'car-md-2.jpg',
          label = 'Статті',
          title = 'Nissan Leaf 2018 року: Майбутнє поза конкуренцією',
          subttl = 'Те, що в другому поколінні Nissan Leaf отримає новий дизайн і начинку, - вже не новина: шанувальники цієї моделі бачо він того, щоб його купити?'
        ) }}
      </div>
    </div>
  </div>


</div>
<!-- end blog-article -->