{%set
brands = [
  {
    brandLogo: 'BMW.png',
    brand: 'BMW',
    title: 'Електризуйте натхнення',
    subttl: 'BMW формує майбутнє електричної мобільності',
    carList: [
      {
        img: 'bmw.png',
        title: 'BMW I3',
        status: 'is-available',
        labelIcon: 'check',
        label: 'В наявності',
        text: '5-дверный городской электрический автомобиль, и первый серийный автомобиль BMW с нулевым уровнем выбросов CO2.',
        techInfo: [
          {
            icon: 'work-tools',
            title: '<small>до</small> 315 <small>км</small>',
            subttl: 'Запас ходу'
          },
          {
            icon: 'speed',
            title: '150 <small>км/ч</small>',
            subttl: 'MAX швидкість'
          },
          {
            icon: 'engine',
            title: '170 <small>к.с</small>',
            subttl: 'Потужність'
          },
          {
            icon: 'battery',
            title: '33 <small>кВт/ч</small>',
            subttl: 'Батарея'
          },
          {
            icon: 'race-track',
            title: '7,3 <small>сек</small>',
            subttl: 'Розгін до 100 км'
          },          
          {
            icon: 'turbo',
            title: '125 <small>кВт</small>',
            subttl: 'Електродвигун'
            
          }
        ]
      },
      {
        img: 'bmw.png',
        title: 'BMW I3',
        status: 'is-available',
        labelIcon: 'check',
        label: 'В наявності',
        text: '5-дверный городской электрический автомобиль, и первый серийный автомобиль BMW с нулевым уровнем выбросов CO2.',
        techInfo: [
          {
            icon: 'work-tools',
            title: '<small>до</small> 315 <small>км</small>',
            subttl: 'Запас ходу'
          },
          {
            icon: 'speed',
            title: '150 <small>км/ч</small>',
            subttl: 'MAX швидкість'
          },
          {
            icon: 'engine',
            title: '170 <small>к.с</small>',
            subttl: 'Потужність'
          },
          {
            icon: 'battery',
            title: '33 <small>кВт/ч</small>',
            subttl: 'Батарея'
          },
          {
            icon: 'race-track',
            title: '7,3 <small>сек</small>',
            subttl: 'Розгін до 100 км'
          },          
          {
            icon: 'turbo',
            title: '125 <small>кВт</small>',
            subttl: 'Електродвигун'
            
          }
        ]
      },
      {
        img: 'bmw.png',
        title: 'BMW I3',
        status: 'is-available',
        labelIcon: 'check',
        label: 'В наявності',
        text: '5-дверный городской электрический автомобиль, и первый серийный автомобиль BMW с нулевым уровнем выбросов CO2.',
        techInfo: [
          {
            icon: 'work-tools',
            title: '<small>до</small> 315 <small>км</small>',
            subttl: 'Запас ходу'
          },
          {
            icon: 'speed',
            title: '150 <small>км/ч</small>',
            subttl: 'MAX швидкість'
          },
          {
            icon: 'engine',
            title: '170 <small>к.с</small>',
            subttl: 'Потужність'
          },
          {
            icon: 'battery',
            title: '33 <small>кВт/ч</small>',
            subttl: 'Батарея'
          },
          {
            icon: 'race-track',
            title: '7,3 <small>сек</small>',
            subttl: 'Розгін до 100 км'
          },          
          {
            icon: 'turbo',
            title: '125 <small>кВт</small>',
            subttl: 'Електродвигун'
            
          }
        ]
      }
    ]
  },
  {
    brandLogo: 'Chevrolet.png',
    brand: 'chevrolet',
    title: 'нові шляхи',
    subttl: 'Історії для людей, які хочуть відкрити більше для себе',
    carList: [
      {
        img: '2018-chevrolet-volt-lt.png',
        title: 'Chevrolet Volt',
        status: 'is-available',
        labelIcon: 'check',
        label: 'В наявності',
        text: '5-дверный городской электрический автомобиль, и первый серийный автомобиль BMW с нулевым уровнем выбросов CO2.',
        techInfo: [
          {
            icon: 'work-tools',
            title: '<small>до</small> 315 <small>км</small>',
            subttl: 'Запас ходу'
          },
          {
            icon: 'speed',
            title: '150 <small>км/ч</small>',
            subttl: 'MAX швидкість'
          },
          {
            icon: 'engine',
            title: '170 <small>к.с</small>',
            subttl: 'Потужність'
          },
          {
            icon: 'battery',
            title: '33 <small>кВт/ч</small>',
            subttl: 'Батарея'
          },
          {
            icon: 'race-track',
            title: '7,3 <small>сек</small>',
            subttl: 'Розгін до 100 км'
          },          
          {
            icon: 'turbo',
            title: '125 <small>кВт</small>',
            subttl: 'Електродвигун'
            
          }
        ]
      },
      {
        img: '2018-chevrolet-volt-lt.png',
        title: 'Chevrolet Volt',
        status: 'is-available',
        labelIcon: 'check',
        label: 'В наявності',
        text: '5-дверный городской электрический автомобиль, и первый серийный автомобиль BMW с нулевым уровнем выбросов CO2.',
        techInfo: [
          {
            icon: 'work-tools',
            title: '<small>до</small> 315 <small>км</small>',
            subttl: 'Запас ходу'
          },
          {
            icon: 'speed',
            title: '150 <small>км/ч</small>',
            subttl: 'MAX швидкість'
          },
          {
            icon: 'engine',
            title: '170 <small>к.с</small>',
            subttl: 'Потужність'
          },
          {
            icon: 'battery',
            title: '33 <small>кВт/ч</small>',
            subttl: 'Батарея'
          },
          {
            icon: 'race-track',
            title: '7,3 <small>сек</small>',
            subttl: 'Розгін до 100 км'
          },          
          {
            icon: 'turbo',
            title: '125 <small>кВт</small>',
            subttl: 'Електродвигун'
            
          }
        ]
      },
      {
        img: '2018-chevrolet-volt-lt.png',
        title: 'Chevrolet Volt',
        status: 'is-available',
        labelIcon: 'check',
        label: 'В наявності',
        text: '5-дверный городской электрический автомобиль, и первый серийный автомобиль BMW с нулевым уровнем выбросов CO2.',
        techInfo: [
          {
            icon: 'work-tools',
            title: '<small>до</small> 315 <small>км</small>',
            subttl: 'Запас ходу'
          },
          {
            icon: 'speed',
            title: '150 <small>км/ч</small>',
            subttl: 'MAX швидкість'
          },
          {
            icon: 'engine',
            title: '170 <small>к.с</small>',
            subttl: 'Потужність'
          },
          {
            icon: 'battery',
            title: '33 <small>кВт/ч</small>',
            subttl: 'Батарея'
          },
          {
            icon: 'race-track',
            title: '7,3 <small>сек</small>',
            subttl: 'Розгін до 100 км'
          },          
          {
            icon: 'turbo',
            title: '125 <small>кВт</small>',
            subttl: 'Електродвигун'
            
          }
        ]
      }
    ]
  },
  {
    brandLogo: 'Ford.png',
    brand: 'Ford',
    title: 'турбуємося про свою честь',
    subttl: "Ми ставимо на це своє ім'я",
    carList: [
      {
        img: '2017-ford-focus_1.png',
        title: 'Ford Focus Electro',
        status: 'is-available',
        labelIcon: 'check',
        label: 'В наявності',
        text: '5-дверный городской электрический автомобиль, и первый серийный автомобиль BMW с нулевым уровнем выбросов CO2.',
        techInfo: [
          {
            icon: 'work-tools',
            title: '<small>до</small> 315 <small>км</small>',
            subttl: 'Запас ходу'
          },
          {
            icon: 'speed',
            title: '150 <small>км/ч</small>',
            subttl: 'MAX швидкість'
          },
          {
            icon: 'engine',
            title: '170 <small>к.с</small>',
            subttl: 'Потужність'
          },
          {
            icon: 'battery',
            title: '33 <small>кВт/ч</small>',
            subttl: 'Батарея'
          },
          {
            icon: 'race-track',
            title: '7,3 <small>сек</small>',
            subttl: 'Розгін до 100 км'
          },          
          {
            icon: 'turbo',
            title: '125 <small>кВт</small>',
            subttl: 'Електродвигун'
            
          }
        ]
      },
      {
        img: '2017-ford-focus_1.png',
        title: 'Ford Focus Electro',
        status: 'is-available',
        labelIcon: 'check',
        label: 'В наявності',
        text: '5-дверный городской электрический автомобиль, и первый серийный автомобиль BMW с нулевым уровнем выбросов CO2.',
        techInfo: [
          {
            icon: 'work-tools',
            title: '<small>до</small> 315 <small>км</small>',
            subttl: 'Запас ходу'
          },
          {
            icon: 'speed',
            title: '150 <small>км/ч</small>',
            subttl: 'MAX швидкість'
          },
          {
            icon: 'engine',
            title: '170 <small>к.с</small>',
            subttl: 'Потужність'
          },
          {
            icon: 'battery',
            title: '33 <small>кВт/ч</small>',
            subttl: 'Батарея'
          },
          {
            icon: 'race-track',
            title: '7,3 <small>сек</small>',
            subttl: 'Розгін до 100 км'
          },          
          {
            icon: 'turbo',
            title: '125 <small>кВт</small>',
            subttl: 'Електродвигун'
            
          }
        ]
      },
      {
        img: '2017-ford-focus_1.png',
        title: 'Ford Focus Electro',
        status: 'is-available',
        labelIcon: 'check',
        label: 'В наявності',
        text: '5-дверный городской электрический автомобиль, и первый серийный автомобиль BMW с нулевым уровнем выбросов CO2.',
        techInfo: [
          {
            icon: 'work-tools',
            title: '<small>до</small> 315 <small>км</small>',
            subttl: 'Запас ходу'
          },
          {
            icon: 'speed',
            title: '150 <small>км/ч</small>',
            subttl: 'MAX швидкість'
          },
          {
            icon: 'engine',
            title: '170 <small>к.с</small>',
            subttl: 'Потужність'
          },
          {
            icon: 'battery',
            title: '33 <small>кВт/ч</small>',
            subttl: 'Батарея'
          },
          {
            icon: 'race-track',
            title: '7,3 <small>сек</small>',
            subttl: 'Розгін до 100 км'
          },          
          {
            icon: 'turbo',
            title: '125 <small>кВт</small>',
            subttl: 'Електродвигун'
            
          }
        ]
      }
    ]
  },
  {
    brandLogo: 'Tesla.png',
    brand: 'tesla',
    title: 'Водіння майбутнього',
    subttl: 'Tesla - найбільший крок до майбутнбого',
    carList: [
      {
        img: 'tesla-model-x-side-view.png',
        title: 'Tesla Model X',
        status: 'is-available',
        labelIcon: 'check',
        label: 'В наявності',
        text: '5-дверный городской электрический автомобиль, и первый серийный автомобиль BMW с нулевым уровнем выбросов CO2.',
        techInfo: [
          {
            icon: 'work-tools',
            title: '<small>до</small> 315 <small>км</small>',
            subttl: 'Запас ходу'
          },
          {
            icon: 'speed',
            title: '150 <small>км/ч</small>',
            subttl: 'MAX швидкість'
          },
          {
            icon: 'engine',
            title: '170 <small>к.с</small>',
            subttl: 'Потужність'
          },
          {
            icon: 'battery',
            title: '33 <small>кВт/ч</small>',
            subttl: 'Батарея'
          },
          {
            icon: 'race-track',
            title: '7,3 <small>сек</small>',
            subttl: 'Розгін до 100 км'
          },          
          {
            icon: 'turbo',
            title: '125 <small>кВт</small>',
            subttl: 'Електродвигун'
            
          }
        ]
      },
      {
        img: 'tesla-model-x-side-view.png',
        title: 'Tesla Model X',
        status: 'is-available',
        labelIcon: 'check',
        label: 'В наявності',
        text: '5-дверный городской электрический автомобиль, и первый серийный автомобиль BMW с нулевым уровнем выбросов CO2.',
        techInfo: [
          {
            icon: 'work-tools',
            title: '<small>до</small> 315 <small>км</small>',
            subttl: 'Запас ходу'
          },
          {
            icon: 'speed',
            title: '150 <small>км/ч</small>',
            subttl: 'MAX швидкість'
          },
          {
            icon: 'engine',
            title: '170 <small>к.с</small>',
            subttl: 'Потужність'
          },
          {
            icon: 'battery',
            title: '33 <small>кВт/ч</small>',
            subttl: 'Батарея'
          },
          {
            icon: 'race-track',
            title: '7,3 <small>сек</small>',
            subttl: 'Розгін до 100 км'
          },          
          {
            icon: 'turbo',
            title: '125 <small>кВт</small>',
            subttl: 'Електродвигун'
            
          }
        ]
      },
      {
        img: 'tesla-model-x-side-view.png',
        title: 'Tesla Model X',
        status: 'is-available',
        labelIcon: 'check',
        label: 'В наявності',
        text: '5-дверный городской электрический автомобиль, и первый серийный автомобиль BMW с нулевым уровнем выбросов CO2.',
        techInfo: [
          {
            icon: 'work-tools',
            title: '<small>до</small> 315 <small>км</small>',
            subttl: 'Запас ходу'
          },
          {
            icon: 'speed',
            title: '150 <small>км/ч</small>',
            subttl: 'MAX швидкість'
          },
          {
            icon: 'engine',
            title: '170 <small>к.с</small>',
            subttl: 'Потужність'
          },
          {
            icon: 'battery',
            title: '33 <small>кВт/ч</small>',
            subttl: 'Батарея'
          },
          {
            icon: 'race-track',
            title: '7,3 <small>сек</small>',
            subttl: 'Розгін до 100 км'
          },          
          {
            icon: 'turbo',
            title: '125 <small>кВт</small>',
            subttl: 'Електродвигун'
            
          }
        ]
      }
    ]
  }
]
%}