.icon-battery {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-call {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-car {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: none;
}
.icon-kyivstar {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-location {
  width: 0.63em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 1em;
  height: 1em;
  fill: #FFFFFF;
}
.icon-map {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-speedometer {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-telephone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vodafone {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
