<!-- begin section-full -->
<section class="section-full margin-bottom-5">
  <div class="section-full__block">
    <div class="model-descr__text">
      <div class="model-descr__title">
        <h2 class="h2">Технічні характеристики</h2>
      </div>

      <p class="text text--gray">Батарея в корпусі розташована так, щоб забезпечити хороший розподіл ваги і динаміку руху. Електродвигун на задній осі здатний видавати 125 кВт (170 к.с.) і 250 Нм, в результаті чого машина може «похвалитися» хорошими ходовими характеристиками і невеликим радіусом повороту. Розгін до 100 км / год відбувається за 8 секунд. Перевагами BMW i3 можна без сумніву назвати високу маневреність маленький радіус повороту, що дозволяє припаркуватися в найскладніших умовах.</p>
    </div>
  </div>

  <div class="section-full__bg">
    <video class="js-lazy" src="" data-src="video/slider2.mp4" muted="" autoplay="" playsinline="" loop="" poster="img/hero-video-poster.jpg"></video>
  </div>
</section>
<!-- end section-full -->