<!-- begin section-comb -->
<section class="section-comb margin-bottom-5">
  <div class="section-comb__left">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6">
          <div class="model-descr__text has-btn">
            <div class="model-descr__text">
              <div class="model-descr__title">
                <h2 class="h2">Переваги авто</h2>
              </div>

              <p class="text text--gray">Але не одним лише фірмовим електромотором і новаторською конструкцією LifeDrive може похвалитися «Еко-трійка». Конструкція авто містить відмінну систему відшкодування енергії під час руху, в основі якої лежить режим рекуперації генератора - в результаті енергозапас авто зростає і розширюється перелік режимів і функцій.</p>

              <div class="model-descr__btn">
                <a href="#" class="btn">
                  <span class="btn__title">замовити TEST-DRIVE</span>
                  <span class="btn__icon">{{ mixins.iconCar() }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-comb__right js-lazy" data-background-image="img/single-model/P90228310_highRes_bmw-i3-94ah-07-2016-1.jpg"></div>
</section>
<!-- end section-comb -->