<!-- begin model-descr -->
<section class="model-descr has-no-pt">
  <div class="model-descr__row is-gray has-mb">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="model-descr__text has-btn">
            <div class="model-descr__title">
              <h2 class="h2">BMW i3s - 5-дверний міський електричний автомобіль, і перший серійний автомобіль BMW з нульовим рівнем викидів CO2</h2>
            </div>

            <div class="model-descr__col-lg-85">
              <p class="text text--gray">Алюмінієва рама, углепластіковий кузов, органічні матеріали інтер'єру. Батарея під підлогою і електромотор між задніми колесами. Навіть в електромобілях BMW залишається вірним задньопривідної схемою.</p>

              <div class="model-descr__btn">
                <a href="#" class="btn">
                  <span class="btn__title">замовити TEST-DRIVE</span>
                  <span class="btn__icon">{{ mixins.iconCar() }}</span>
                </a>
              </div>
            </div>            
          </div>
        </div>

        <div class="col-lg-5">
          <div class="model-descr__img has-img has-mb-neg has-pt">
            <img data-src="img/single-model/2016-bmw-i3-mega-hatchback-front-view.png" alt="" class="js-lazy">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-7 order-md-1 order-lg-0">
        <div class="model-descr__img has-img">
          <img data-src="img/single-model/car-2.png" alt="" class="js-lazy">
        </div>
      </div>

      <div class="col-lg-5 order-md-0 order-lg-1">
        <div class="model-descr__text has-pt has-btn">
          <div class="model-descr__title">
            <h2 class="h2">Конструкція</h2>
          </div>

          <p class="text text--gray">У цій моделі конструктори ретельно продумали всі аспекти, кожна деталь відмінно «заточена» під свою функцію. За основу дизайну взята архітектура LifeDrive: модель позиціонується як просторе, легке і в той же час безпечний транспортний засіб. Простота конструкції і сучасні матеріали дозволяють без проблем долати великі дистанції без підзарядки і убезпечити пасажирів при зіткненнях, крім того, i3 може похвалитися відмінною динамікою руху.</p>

          <div class="model-descr__btn">
            <a href="#" class="btn">
              <span class="btn__title">замовити TEST-DRIVE</span>
              <span class="btn__icon">{{ mixins.iconCar() }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end model-descr -->