<!-- begin section-full -->
<section class="section-full section-full--sm margin-bottom-5">
  <div class="section-full__left js-lazy" data-background-image="img/single-model/section-car-1.jpg"></div>
  <div class="section-full__right js-lazy" data-background-image="img/single-model/section-car-2.jpg"></div>

  <div class="section-full__block is-bottom-left">
    <div class="model-descr__text">
      <div class="model-descr__title">
        <h2 class="h2">Живлення</h2>
      </div>

      <div class="text text--gray">
        <p>Досить хороша новина також в тому, що інженери BMW оснастили i3 з бортовою зарядної системою, яка може утримувати напругу потужністю 7,7 кВт. Цей високоякісний рівень Level 2 важко поставити в машину через домашнє напруга, але навіть якщо воно буде в районі 6,6 кВт, це буде означати, що при одночасовой зарядці буде додаватися близько 32-40 кілометрів їзди.</p>
        <p>Комбінований кабель з роз'ємом SAE уможливлює підключити i3 і до 50-ти кіловатної зарядної станції, яка здатна зарядити авто до 80% всього лише за 20-30 хвилин.</p>
      </div>

    </div>
  </div>
</section>
<!-- end section-full -->