.aside
  background-color: #fff
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.15)
  padding: 20px 25px 45px

.aside-banner
  +cover
  display: flex
  justify-content: flex-end
  flex-direction: column
  &__subttl
    margin-bottom: 5px
  &__contact
    font-size: 18px
    text-transform: uppercase
    color: #fff
    +bold
    text-transform: uppercase