.form
  $this: &
  &__btn
    font-size: 0
  &__field
    margin-bottom: 25px
    &.has-mb-lg
      margin-bottom: 40px
  &__gray-block
    background-color: #f8f8f8
    padding-bottom: 40px
    padding-top: 40px
  &__block
    padding-top: 40px
    padding-bottom: 40px
    +lg
      padding-bottom: 20px
      padding-bottom: 20px

  &--consultation
    .form
      &__row
        display: flex
        margin-bottom: 40px
        +lg
          display: block
      &__field
        margin-bottom: 0
        +lg
          &:not(:last-child)
            margin-bottom: 10px
        &:not(:last-child)
          margin-right: 60px
  &--popup
    #{$this}__field
      &:not(:last-child)
        margin-bottom: 20px
      &:last-child
        margin-bottom: 40px

.input
  +light
  input
    height: 32px
    border-bottom: 1px solid  #202020
    background-color: transparent
    padding-top: 5px
    padding-bottom: 5px
    min-width: 282px
    font-family: inherit
    +placeholder
      color: #979797
      font-size: 15px
      font-family: inherit
      +light

  &--full
    input
      width: 100%
      min-width: 0
  &--gray
    input
      border-bottom-color: $c-border
  &--dynamic
    position: relative
    input
      padding-left: 20px
    .input__icon
      position: absolute
      top: 50%
      transform: translate(0, -50%)
      left: 0
      .icon
        fill: #979797
        font-size: 14px
    &::before
      content: ''
      display: inline-block
      +icon-arrow(10, 10, 1, #979797, -45)
      transform: translate(0, -50%) rotate(-45deg)
      position: absolute
      top: 50%
      right: 0


.textarea
  +light
  textarea
    height: 32px
    overflow: hidden
    border: 0
    outline: none
    resize: none
    border-bottom: 1px solid  #202020
    background-color: transparent
    padding-top: 5px
    padding-bottom: 5px
    min-width: 282px
    font-family: inherit
    +placeholder
      color: #979797
      font-size: 15px
      font-family: inherit
      +light  

  &--full
    textarea
      width: 100%
  &--gray
    textarea
      border-bottom-color: $c-border