.header
  position: fixed
  width: 100%
  left: 0
  top: 0
  z-index: 10
  &__top
    background-color: #191919
    overflow: hidden
  &__contacts
    height: 45px
  &__bottom
    background-color: #fff
  &__nav
    height: 45px
    display: flex
    justify-content: center
    align-items: center

.contacts
  display: flex
  justify-content: center
  align-items: center
  .btn
    &__title
      padding: 15px 10px

.contact
  color: #b6b6b6
  font-size: 14px
  margin-left: 25px
  margin-right: 25px