.hero  
  background-color: #353535
  font-size: 0
  +cover
  &__slider    
    .slide
      height: calc(100vh - 90px) // header height
      +lg
        height: calc(100vh - 45px)
  &__title
    position: relative
    padding-bottom: 15px
    margin-bottom: 15px
    .hero__subttl
      margin-bottom: 0
    .title
      margin-bottom: 5px
    &::before
      content: ''
      position: absolute
      width: 53px
      height: 1px
      background-color: #fff
      bottom: 0
      left: 0
  &__subttl
    font-size: 15px
    color: #fff
    text-transform: uppercase
    margin-bottom: 15px
  &__btn-right
    height: 100%
    display: flex
    align-items: center
    +md
      padding-top: 15px
      display: block

  &--sm
    padding-top: 40px
    padding-bottom: 40px
    +lg
      padding-top: 80px
      padding-bottom: 80px
  &--lg
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: calc(100vh - 90px) // header heigth
    padding-bottom: 85px
    padding-top: 120px
    +lg
       height: calc(100vh - 45px)
  &--xs
    padding-bottom: 25px
    padding-top: 25px
    text-align: center
    .hero
      &__title
        padding-bottom: 0
        &::before
          display: none
      &__breadcrumbs
        margin-bottom: 15px
