.models-info
  &__item
    text-align: left
    height: 100%
    position: relative
    &::before
      content: ''
      position: absolute
      height: 48px
      top: 5px
      right: 0
      width: 1px
      background-color: $c-text
    &.has-no-line
      &::before
        display: none
  &__title
    +bold
    font-size: 32px
    line-height: 1.15
    span
      font-size: 15px
  &__subttl
    font-size: 15px
    color: #9b9b9b
  &__link
    position: absolute
    top: -15px
    transform: translate(0, -100%)
