.section
  background-color: #fff
  padding-top: 3%
  padding-bottom: 3%
  position: relative
  font-size: 0
  &__title
    text-align: center
    margin-bottom: 30px
    position: relative
    .title
      display: inline-block
    &.has-no-mb
      margin-bottom: 0
    &.has-mb-sm
      margin-bottom: 15px
    &.is-left
      text-align: left
    &.has-line
      position: relative
      &::before
        content: ''
        height: 1px
        width: 53px
        background-color: $c-text
        position: absolute
        bottom: -15px
        left: 0
  &__links-list
    display: flex
    margin-bottom: 35px
    +md
      margin-bottom: 20px
    .links-list
      &:not(:last-child)
        margin-right: 50px
  &__block
    text-align: justify
    &:not(:last-child)
      margin-bottom: 50px
      +md
        margin-bottom: 30px
    p
      font-size: 15px
      margin-bottom: 35px
      +light
      +md
        margin-bottom: 20px
      strong
        +bold
      a
        color: #025db9
        text-decoration: underline
      &.has-no-mb
        margin-bottom: 0

  &--bg
    +cover
    +md
      background-image: none !important
    .container
      position: relative
      z-index: 1
  &--pt-sm
    padding-top: 1%
  &--bd-top
    +xs
      border-top: 1px solid #e6e6e6
  &--md
    padding-top: 40px
    padding-bottom: 0
    +sm
      padding-top: 20px
      padding-bottom: 0
  &--pad
    padding-top: 40px
    padding-bottom: 40px
    +lg
      padding-top: 20px
      padding-bottom: 20px
  &--gray
    background-color: #f7f7f7

.car-bg
  +cover
  background-size: 100%
  height: 100%
  position: absolute
  top: 0
  right: 0
  width: 36.5%
  z-index: 0

.section-full
  position: relative
  height: calc(100vh - 90px)
  display: flex
  align-items: center
  overflow: hidden
  +cover
  +lg
    height: calc(100vh - 45px)
  &.has-bottom-block
    align-items: flex-end
  &__block
    z-index: 1
    background-color: #fff
    max-width: 565px
    padding: 35px
    +sm
      padding: 25px
      padding-top: 20px
    +xs
      padding: 15px
      padding-top: 10px
    .model-descr__text
      p
        margin-bottom: 25px
        &:last-child
          margin-bottom: 0
    &.is-bottom-right
      position: relative
      // bottom: -1px
      left: 50%
      +sm
        position: static
        width: auto
        max-width: none
    &.is-bottom-left
      position: absolute
      bottom: -1px
      right: 50%
      +lg
        position: relative
        right: auto
        bottom: auto
      +sm
        max-width: none
  &__bg
    +coverdiv
    z-index: 0
    video
      min-width: 100%
      min-height: 100%
    &::before
      content: ''
      +coverdiv
      background-color: rgba(#000, .5)
  &__left,
  &__right
    +cover
    padding-top: 45%
    display: inline-block
    vertical-align: top
    width: 50%
    +lg
      position: absolute
      top: 0
      height: 100%
  &__left
    +lg
      left: 0
  &__right
    +lg
      right: 0

  &--lg
    height: 110vh
  &--sm
    height: auto
    display: block
    font-size: 0
    +lg
      height: auto
      padding-top: 40%
    +sm
      padding-top: 50%

.section-comb
  position: relative
  &__left
    height: calc(100vh - 90px)
    padding-top: 85px
    +lg
      height: calc(100vh - 45px)
    +md
      height: auto
      padding-top: 0px
  &__right
    position: absolute
    +cover
    z-index: 2
    top: 0
    right: 0
    height: 100%
    // width: percentage(745/1920)
    width: 50%
    background-color: #000
    +lg
      width: 50%
    +md
      position: static
      width: auto
      height: auto
      padding-top: 70%

.section-spinner
  height: calc(100vh - 90px)
  padding-bottom: 10%
  position: relative
  +vertical
  +cover
  +lg
    height: calc(100vh - 45px)
  +sm
    height: auto
    padding-top: 0%
  &__icon-wrap
    position: absolute
    bottom: 0
    width: 100%
    left: 0
    text-align: left
  &__spinner
    display: inline-block
    vertical-align: bottom
    padding-top: 35%
    width: 50%
    position: relative
    +md
      width: 60%
      padding-top: 40%
    +sm
      width: 70%
      padding-top: 50%
    .spritespin-instance
      +coverdiv
      height: 100% !important
      width: 100% !important
      position: absolute !important
      cursor: grab
  &__icon
    background-color: rgba($c-text, .8)
    text-align: center
    padding: 20px 30px
    display: inline-block
    .icon
      fill: #fff
      font-size: 38px

.section-comb-block
  position: relative
  margin-bottom: 80px
  +md
    margin-bottom: 40px
  +sm
    margin-bottom: 20px
  &__img
    +cover
    // height: 100%
    position: absolute
    width: 40%
    top: 0
    bottom: 0
    left: 0
    background-position: 100% 50%
    +md
      position: static
      padding-top: 70%
      width: auto
      // display: none
    &.is-right
      right: 0
      left: auto
      background-position: 0 50%
      width: 35%
      +md
        width: auto
  &__block
    .h2, h2
      margin-bottom: 14px
    .complectation-list
      margin-bottom: 25px