.selects
  &__select
    margin-bottom: 15px
  &__btn
    font-size: 0

.custom-select
  position: relative
  select
    visibility: hidden
    opacity: 0
    position: absolute
  &.is-open
    .custom-select
      &__panel
        visibility: visible
        opacity: 1
  &__opener
    height: 48px
    border: 1px solid  #e8e8e8
    +light
    font-size: 15px
    padding: 13px 20px
    padding-right: 30px
    +text-overflow
    position: relative
    &::before
      content: ''
      display: inline-block
      +icon-arrow(9, 9, 1, $c-text, -45)
      position: absolute
      top: 15px
      right: 20px
      pointer-events: none
  &__panel
    visibility: hidden
    opacity: 0
    position: absolute
    top: 100%
    left: 0
    width: 100%
    background-color: #303030
    z-index: 1
    padding: 20px
  &__option
    +light
    font-size: 15px
    color: #fff
    padding-top: 10px
    padding-bottom: 10px
    cursor: pointer
    +text-overflow
    vertical-align: middle
    label
      pointer-events: none
    input[type="checkbox"]
      display: inline-block
      margin-right: 5px
      position: relative
      top: 2px
    &.is-selected
      color: $c-accent
  &__panel-item
    input
      height: 32px
      
      padding: 5px
      width: 100%
      background-color: #fff
      font-family: inherit
      +placeholder
        color: #979797
        font-size: 15px
        font-family: inherit
        +light